[2017-10-26 19:32] pshahzeb commented on #346
Fixed through https://github.com/vmware/vsphere-storage-for-kubernetes/commit/663bd7945f1d1be67e453f199143bfbdaec6880e

[2017-10-26 19:32] #346 closed

[2017-10-26 20:53] #334 closed

[2017-10-26 21:39] abrarshivani commented on #241
PR merged: https://github.com/vmware/kubernetes/pull/335

[2017-10-26 21:39] #241 closed

[2017-10-26 21:39] abrarshivani commented on #245
PR Merged: https://github.com/vmware/kubernetes/pull/335

[2017-10-26 21:39] #245 closed

[2017-10-26 21:40] abrarshivani commented on #350
PR Merged: https://github.com/vmware/kubernetes/pull/335

[2017-10-26 21:40] #350 closed

[2017-10-27 14:01] snsumner commented on #340
The PV are automatically getting generated by the Elasticsearch Operator.

Here is the YAML of one of those PV that is getting created:

[code]
For more details about Elasticsearch Operator refer to here: https://github.com/upmc-enterprises/elasticsearch-operator

I created a helm chart to deploy Elasticsearch Operator on Tectonic using vSphereVolume which is located here: https://github.com/snsum

[2017-10-27 14:24] divyenpatel commented on #351
@guillierf There is no issue here.

Sequence should be.
Delete the Pod first, then delete PVC.

When you delete PVC, Kubernetes will try deleting associated PV, but since disks are attached to the Node VM, they can not be deleted. You can ignore errors you are seeing on the vCenter, as this is expected.

Kubernetes keeps re-trying failed operations. So once you delete the Pod, VMDK will be detache

[2017-10-27 15:02] #343 closed

[2017-10-27 15:05] tusharnt commented on #343
CC @ guillierf

[2017-10-27 16:40] guillierf commented on #351
@divyenpatel

I replayed the test:
1/delete PVC
2/delete POD

I can see the worker nodes gets reconfigured (VMDK disks detached from worker nodes VM)

but VMDK files still remain on Datastore (for 1 hour now).
Do you know how long it takes for these files to be definitively removed?

[2017-10-27 16:57] #206 closed

[2017-10-27 18:02] divyenpatel commented on #351
@guillierf you just need to delete the PVC, and not the PV resource. Kubernetes will delete PV associated with PVC along with VMDK.

Can you try with
Just delete the POD and then PVC and see the tasks on VC.

[2017-10-27 18:09] guillierf commented on #351
@divyenpatel
OK I will try it.

but the MAIN point of this thread/issue is that there is not so much safeguard implemented here.
By not following the correct procedure, I can easily leave VMDK files on datastore forever (and it will be difficult to detect if they are really used or not). They take physical resource and they will be extremely difficult to get rid of when cleaning needs to be done.

[2017-10-27 18:30] divyenpatel commented on #351
@guillierf Yes, these limitations will be addressed by Kubernetes. You can refer to the following proposals.

- Prevent deletion of Persistent Volume that is bound to a Persistent Volume Claim : https://github.com/kubernetes/features/issues/499
- Prevent the deletion of a PVC that is referenced by an active pod - https://github.com/kubernetes/kubernetes/issues/45143

CC: @BaluDontu @SandeepPissay

[2017-10-27 18:41] guillierf commented on #351
thanks @divyenpatel  !!!
this is very useful

[2017-10-27 18:46] #261 closed

[2017-10-27 19:18] guillierf commented on #351
@divyenpatel

"Can you try with
Just delete the POD and then PVC and see the tasks on VC."

yes, this sequence works 100% fine.  VMDK is correctly deleted on Datastore.

[2017-10-27 19:35] divyenpatel commented on #351
Thank you for confirming. I am closing this issue.

[2017-10-27 19:35] #351 closed

[2017-10-27 19:53] divyenpatel commented on #330
@shaominchen

For this issue, on the private branch based on kubernetes/release 1.7 branch, we need to make sure we have following tests.

- https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/vsphere_volume_vsan_policy.go
- https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/vsphere_volume_placement.go
- https://github.com/kubernetes/kubernetes/blob/master/test

[2017-10-27 20:21] divyenpatel commented on #206
Troubleshooting page is live.
https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/troubleshooting.html

[2017-10-27 20:33] pshahzeb opened #353 "Refactoring e2e tests to vsphere folder in tests/e2e/storage"
1.  As per request from k8s community, all tests related to vsphere cloud provider should be moved to a separate folder under tests/e2e/storage.
https://github.com/kubernetes/kubernetes/pull/54018#issuecomment-337751691

2. Move all environment vars reading to the vsphere suite level since most of them are common to all the tests.

3. Move test utils to a common place which right now are redundant

[2017-10-27 20:59] shaominchen commented on #340
Thanks @snsumner for sharing the yaml file. We will verify and update here.

[2017-10-27 21:00] divyenpatel commented on #345
As commented at https://github.com/vmware/kubernetes/issues/351#issuecomment-340049842, Sequence should be `delete the PVC and not delete PV resource directly`.

Closing this issue.

[2017-10-27 21:00] #345 closed

[2017-10-27 21:19] shaominchen commented on #340
@snsumner This is not VCP issue, but a known kubernetes issue: https://github.com/kubernetes/features/issues/499

For now please try to delete the PVC instead of the PV bound to an existing PVC.

I'm closing this issue.

[2017-10-27 21:19] #340 closed

[2017-10-27 22:00] tusharnt opened #354 "VCP needs to support zones construct in kubernetes"

[2017-10-27 22:03] tusharnt opened #355 "Remove shared storage restriction in multiple vCenter/Datacenter feature in VCP."

[2017-10-27 22:06] tusharnt opened #356 "Identify the process/best practices to share builds with customers to try out features under developement"
We need to identify the process or best practices to share builds with customers who are interested to try out features that are still under development & not included in any released versions of Kubernetes.

[2017-10-27 22:07] tusharnt opened #357 "VCP needs to support federated statefulsets feature"
Here's the design proposal from kubernetes community - https://github.com/kubernetes/community/pull/437

[2017-10-30 18:06] divyenpatel commented on #347
Cherry Picked to 1.8: https://github.com/kubernetes/kubernetes/pull/54802

[2017-10-30 21:02] tusharnt commented on #355
Duplicate of #304

[2017-10-30 21:02] #355 closed

[2017-10-31 01:18] divyenpatel commented on #349
Closing this Issue. Demo VMs are up and running on OneCloud.

[2017-10-31 01:18] #349 closed

[2017-11-01 08:57] embano1 commented on #354
Glad to see this being tracked/ worked on!

[2017-11-01 20:14] SandeepPissay commented on #263
Fixed in PR - https://github.com/vmware/kubernetes/pull/358. Reviewed by @rohitjogvmw & @abrarshivani

[2017-11-01 20:14] #263 closed

[2017-11-01 20:14] SandeepPissay commented on #239
Fixed in PR - https://github.com/vmware/kubernetes/pull/358. Reviewed by @rohitjogvmw & @abrarshivani

[2017-11-01 20:14] #239 closed

[2017-11-01 23:11] abrarshivani opened #360 "Project Octopus: Prevent multiple parallel calls to DiscoverNode method"
If there are multiple parallel calls to DiscoverNode method for the same node, we end up discovering multiple times. We can avoid that if we acquire a lock per node.

[2017-11-01 23:47] tusharnt commented on #268
Let's use an epic for this.

[2017-11-01 23:51] tusharnt commented on #247
No longer needed since we plan to move to kubeadm based deployments.

[2017-11-01 23:51] #247 closed

[2017-11-02 00:03] SandeepPissay opened #361 "Remove kubeanywhere as the suggested way to deploy kubernetes on vsphere"
Here's the kubernetes getting started guide for vsphere - https://kubernetes.io/docs/getting-started-guides/vsphere/. This guide suggests to use kubeanywhere to deploy kubernetes on vsphere. Once multi-VC feature is built, the kubeanywhere deployed cluster would not work on vsphere.

Filing this issue to remove reference to all such public facing documents that suggests kubeanywhere to deploy clus

[2017-11-04 04:17] shaominchen commented on #330
All proposed 3 tasks are done:
1. Identify what tests can be executed on 1.7 branch.
2. Make necessary test code changes to incorporate into e2e tests.
3. Update existing Jenkins Build to use this new 1.7 branch
However, there are still 8/33 test cases failed. The failures seem to be caused by testbed. Divyen and I will investigate further to get them fixed.

[2017-11-04 04:18] shaominchen commented on #330
The latest jenkins job result: http://cna-storage-jenkins.eng.vmware.com/job/k8s-release-1.7-validation/17/

[2017-11-04 16:04] tusharnt opened #362 "Redirect VCP documentation on kubernetes.io to vsphere-storage-for-kubernetes repo"
Currently we're duplicating the documentation for VCP in following git repos -
- https://kubernetes.io/docs/getting-started-guides/vsphere/
- https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/
Let's use vsphere-storage-for-kubernetes git repo as the central place to consolidate and maintain ALL VCP documentation.
This ensures our documentation efforts are not duplicated and cus

[2017-11-04 16:17] tusharnt commented on #222
1. Blog for UX improvements (which this issue is tracking) is not yet done.
2. The user guide is not linked in the customer facing documentation.
Hence reopening the issue.

[2017-11-04 18:55] divyenpatel commented on #222
@tusharnt User guide for enabling VCP using automated scripts is linked on this page - https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/existing.html

2nd line

[2017-11-06 17:49] divyenpatel commented on #92
PR: https://github.com/kubernetes/kubernetes-anywhere/pull/437 fixes this issue.
To deploy multiple cluster in the same resource pool, specify different cluster name for each deployment. Node VM names are now prefixed with Kubernetes Cluster name, which allows deploying multiple clusters in the same resource pool.

[2017-11-06 17:49] #92 closed

[2017-11-07 22:13] shaominchen commented on #330
All proposed test cases (13 test groups / 40 test cases) passed on 1.7 branch: http://cna-storage-jenkins.eng.vmware.com/job/k8s-release-1.7-validation/5/

I'm closing this issue as fixed.

[2017-11-07 22:13] #330 closed

[2017-11-07 22:16] shaominchen commented on #330
Update the estimate to reflect the real work that we have done - not only just creating the testbed, branch and crossporting test cases, but also did a lot of code change to switch to older k8s APIs and to fix different test issues.

[2017-11-08 18:33] divyenpatel opened #363 "Setup monitoring system for OneCloud Demo Setup"
Setup monitoring system for OneCloud Demo Setup. In case if Demo Cluster is down, send out alert email. We can utilize Jenkins Jobs or Prometheus alerting.

CC: @tusharnt

[2017-11-08 23:22] souhradab opened #364 "Ability to specify different datastore directory in SC"
Currently vSphere Storage Provider creates all dynamic volumes in Datastore_Name/kubevols directory.  Requesting parameter in SC definition to specify a different volume for dynamic volumes.

#vsphere-volume-sc-example.yaml
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: fast
provisioner: kubernetes.io/vsphere-volume
parameters:
    diskformat: zeroedthick
    **datastore: VSAND

[2017-11-09 00:51] #242 closed

[2017-11-09 05:33] #274 closed

[2017-11-09 06:43] BaluDontu commented on #296
PR is merged. Closing the issue.

[2017-11-09 06:43] #296 closed

[2017-11-10 01:42] shaominchen commented on #309
@ron1 The existing roles described in the documentation are all for *using* VCP features, not for *installing/uninstalling* VCP plugin itself. To install/uninstall VCP plugin, the required privileges are defined here: https://github.com/Kubernetes/Kubernetes-anywhere/blob/master/phase1/vsphere/README.md#prerequisites (this link is subject to change as we are moving away from kubernetes-anywhere to

[2017-11-10 15:45] #282 closed

[2017-11-10 15:46] #253 closed

[2017-11-10 18:45] #292 closed

[2017-11-10 23:49] rohitjogvmw opened #365 "Octopus Testing - Testing VCP supports static provisioning in multi-vc"

[2017-11-10 23:50] rohitjogvmw opened #366 "Octopus Testing - testing VCP supports dynamic provisioning in multi-vc"

[2017-11-10 23:50] rohitjogvmw opened #367 "Octopus Testing - Testing VCP supports master VM node migration to another VC"

[2017-11-10 23:51] rohitjogvmw opened #368 "Octopus Testing -Testing VCP supports node VM migration to another VC"
Test steps:

1. Create storageclass and pvc to provision volume dynamically.
2. Migrated VM to different VC.
3. Created Pod with volume provisioned at step 1.
4. Executed command kubectl describe pod.

Expected result:
1. Volume got provisioned successfully.
2. Volume got attached successfully.

[2017-11-10 23:51] rohitjogvmw opened #369 "Octopus Testing - Test if VCP continues to work if master vm gets storage vmotioned to another datastore"

[2017-11-10 23:55] rohitjogvmw opened #370 "Octopus Testing - Verify if VCP and K8S keeps running even if hostname and VM vsphere inventory name is different"

[2017-11-10 23:56] rohitjogvmw opened #371 "Octopus Testing - Verify that modification (adding another VC) to vsphere.conf file gets picked up after master vm restart"

[2017-11-10 23:57] rohitjogvmw opened #372 "Octopus Testing - Negative testing - Verify volume provisioning throws error if non-shared DS is used"

[2017-11-10 23:58] rohitjogvmw opened #373 "Octopus Testing - Make sure VCP correctly reports status of volumes if corresponding VC is down"

[2017-11-11 00:03] rohitjogvmw opened #374 "Octopus Testing - Verify VCP and k8s continues to run as expected if vSphere HA restarts node vm on another host due to datastore APD"

[2017-11-11 00:04] rohitjogvmw opened #375 "Octopus testing - Verify VCP continues to run if VM vsphere inventory name is changed"

[2017-11-11 00:05] rohitjogvmw opened #376 "Octopus Testing - Verify VCP continues to run even if node vms (in different VCs) have same inventory name but different hostname"

[2017-11-11 00:09] rohitjogvmw opened #377 "Octopus Testing - Negative - Verify VCP rejects node which is not present in provided list of VCs"

[2017-11-11 00:09] rohitjogvmw opened #378 "Octopus Testing"
This epic will track various tests needed for Multi-VC project

[2017-11-11 00:13] rohitjogvmw opened #379 "Octopus Testing - Verify that VCP discovers newly added and removed k8s node"
Dividing this test into two sub tasks.
- [ ] Node delete and add test
1.  Verify total Nodes present
2. Power off and delete node VM from vSphere inventory
3. Verify the given node above is removed
4. Add the node back to vSphere inventory and power it on

- [ ] Pod creation with dynamic provisioning after above test
1. Created pod with dynamically created vSphere volume
2. Deleted Pod

[2017-11-11 00:14] rohitjogvmw opened #380 "Octopus Testing - Verify if VCP detects correctly if user deletes node vm from vsphere inventory without removing node from k8s cluster"

[2017-11-14 00:22] shaominchen commented on #309
The document has been updated: https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/existing.html#create-roles-add-privileges-to-roles-and-assign-them-to-the-vsphere-cloud-provider-user-and-vsphere-entities

[2017-11-14 00:22] #309 closed

[2017-11-14 17:35] #272 closed

[2017-11-14 17:36] #326 closed

[2017-11-14 22:37] shaominchen commented on #323
Tushar will take care of this along with other VCP documentation issues on StorageHub.

[2017-11-15 20:15] shaominchen opened #382 "Octopus Testing - Validate if Workspace parameters are honored"
Master VM is running on VC-1 and Workspace specifies to use VC-2 for dummy creation
Make sure that provisioning PV is happening using VC-2

[2017-11-15 20:33] shaominchen opened #383 "Octopus Testing - Verify VCP honors overriden VC parameters"
vsphere.conf file has Global and VC specific sections.

Specify some random parameter (may be port) in global section. Override VC parameters in VC section.
Make sure 2 VCs override different parameters.

[2017-11-16 23:35] shaominchen commented on #321
Discussed with @divyenpatel. This issue seems related to kubernetes-anywhere deployment. Since it's no longer blocking us on Jenkins now, and we are switching to kubeadm deployment, we will not spend time on fixing kubernetes-anywhere related issue. Later on if this issue is reproducible on kubeadm, we should file a new issue to track that.

[2017-11-16 23:35] #321 closed

[2017-11-18 16:05] tusharnt opened #388 "Validate that VCP works with VVol datastores"
As per @cormachogan, this is an important use case.
We need to document the results of our investigation.

[2017-11-20 17:03] divyenpatel commented on #159
Closing this issue. Testing VCP on VVOL is tracked at https://github.com/vmware/kubernetes/issues/388

[2017-11-20 17:03] #159 closed

[2017-11-20 17:07] divyenpatel commented on #293
Scale Test is Merged: https://github.com/kubernetes/kubernetes/pull/54018

[2017-11-20 17:07] #293 closed

[2017-11-20 17:10] divyenpatel commented on #288
All of the tests mentioned above are implemented and merged in kubernetes master branch.

[2017-11-20 17:10] #288 closed

[2017-11-20 20:48] abrarshivani opened #389 "Launch a Kubernetes cluster configured with multi-vc"
Find and implement a mechanism to launch a Kubernetes cluster configured with multi-vc for testing purpose

[2017-11-21 06:01] abrarshivani opened #390 "Project Octopus: Failed to dynamically provision volume if VM is removed from inventory"
**Manual Test Done:**
1. Removed the node VM from vSphere inventory.
2. Create storageclass and pvc to provision volume dynamically.

**Observations:**
Kubernetes failed to create volume with error: ```No VM found```.
Log:-
[code]

**Cause:**
When VM node is removed from vSphere Inventory corresponding kubernetes node is unregistered and it is removed from ```registeredNodes map[string]*v1.Node```

[2017-11-21 06:06] abrarshivani commented on #368
Manually Tested this test. Got this issue https://github.com/vmware/kubernetes/issues/390 while testing.

[2017-11-21 06:33] abrarshivani opened #391 "Project Octopus: Attach shows failure message in events if VM is migrated."
**Manual Test Done:**
1. Create storageclass and pvc to provision volume dynamically.
2. Migrated VM to different VC.
3. Created Pod with volume provisioned at step 1.
4. Executed command ```kubectl describe pod ```.

**Observations:**
1. Volume got provisioned successfully.
2. Volume got attached successfully. Yet error was shown after running, command ```kubectl describe pod ``` which is not exp

[2017-11-21 20:16] abrarshivani commented on #380
Manually Verified test is successful.
Test Done:
1. Created K8s cluster configured with multi-vc.
2. Migrated node VM from one VC to another VC. (Rationale: To check if k8s sees this as node is deleted)
3. Deleted node VM from vSphere inventory.

Observations:
1. After migration ran command ```kubectl get nodes```. Node was still present.
2. After node VM is removed, ran command ```kubectl get nod

[2017-11-21 20:19] abrarshivani commented on #375
Manually Verified test is successful.
Test Done:
1. Created K8s cluster configured with multi-vc.
2. Changed VM name in vSphere inventory.
3. Provisioned vSphere Volume and created pod using that volume.

Observations:
1. Verified that pod is scheduled on the node for which VM name was changed.
2. Pod was created successfully with volume attached.

[2017-11-21 20:23] abrarshivani commented on #376
Manually Verified test is successful.
Test Done:
1. Created K8s cluster with 2 nodes and 1 master configured with multi-vc.
2. Provisioned vSphere Volume.
3. Migrated 1 node VM to different VC.
4. Changed VM name in vSphere inventory.
5. Created pod using that volume.

Observations:
1. Verified both nodes have different hostnames.
2. Pod was created successfully with volume attached.

[2017-11-21 20:26] abrarshivani commented on #365
Manually Verified: test is successful.

[2017-11-21 20:32] abrarshivani commented on #371
Manually Verified: test is successful.

[2017-11-21 21:17] abrarshivani opened #392 "Project Octopus: Detached failed in static provisioned volume"
Manual Test Done:

1. Provisioned volume statically.
2. Created Pod using the volume.
3. Deleted pod.

Observations:
1. Volume was attached successfully and pod was running.
2. Volume was not detached from node yet k8s reported volume detached successfully.

Log:
[code]

[2017-11-21 21:18] abrarshivani commented on #365
Created issue here: https://github.com/vmware/kubernetes/issues/391

[2017-11-21 21:21] abrarshivani commented on #382
Manually tested this: https://github.com/vmware/kubernetes/issues/371 which also verifies this test.
Tested executed successfully

[2017-11-21 21:24] abrarshivani commented on #369
Manually Verified test is successful.
Test Done:
1. Storage vMotion for k8s-master.
2. Provisioned volume dynamically and created pod.

Observations:
Pod was created successfully with volume attached

[2017-11-21 22:01] abrarshivani opened #393 "Project Octopus: Fail to provision volume dynamically with error NotAuthorized"
Manually Tested:
1. Created Storage Class
2. Created PVC with storage class.

Observation:
Failed to provision vSphere volume.

Log:
[code]

Cause:
While creating volume we get all accessible datastores for getting datastores which are shared between all k8s vms. While getting shared datastore we execute calls to VCs where the VMs are present to get datastores accessible to the VMs. Since we are n

[2017-11-21 22:26] abrarshivani commented on #366
Manually Tested. Fails in scenario: https://github.com/vmware/kubernetes/issues/392, https://github.com/vmware/kubernetes/issues/390.

[2017-11-21 22:27] abrarshivani commented on #370
Manually Tested: tested executed successfully

[2017-11-21 22:38] abrarshivani commented on #367
Manually tested: test executed successfully.
Test Done:
1. Migrated master VM to different VC.
2. Created PVC to provision volume dynamically.
3. Created pod using the volume.
4. Deleted pod.

Observation:
1. Pod was created successfully and volume was attached to it.
2. Pod was deleted and volume was detached successfully.

[2017-11-21 22:53] abrarshivani commented on #372
Manually Tested: test executed successfully.
Test Done:
1. Created VMFS datastore on one of the hosts
2. Created storageclass with new datastore.
3. Created pvc using storageclass.

Observation:
[code]

[2017-11-21 23:04] abrarshivani commented on #377
Manually Verified test is failed. Created issue here:

[2017-11-21 23:50] abrarshivani commented on #379
Tested executed successfully.
Test Done:
1. Launched k8s cluster with multi-vc configuration.
2. Unregister node VM from vSphere inventory.
3. Restarted master by deleting etcd data.
4. Registered node VM back to vSphere inventory.
5. Created pod with dynamically created vSphere volume.
6. Deleted Pod.

Observed:
1. After registering node VM back found VM in nodes list.
2. Pod was successfully cre

[2017-11-22 00:50] abrarshivani commented on #373
Manually Tested: Works as expected.

[2017-11-24 00:37] tusharnt opened #394 "Support large scale k8s clusters in VCP"
As part of Project Octopus, VCP has been tested successfully with 12 node k8s clusters.
For customers looking to deploy large scale, production workloads, this scale needs to be much higher.

The aim of this issue as follows -

- [ ] Identify & document the maximum scale VCP can support today.

- [ ] Based on the customer input, identify the work items in VCP to support the requested maximum scale

[2017-11-24 00:44] tusharnt opened #395 "Update VCP documentation to reflect RHEL as a supported container host OS."
Currently it excludes RHEL.
Here's the current statement - "We support Photon, Ubuntu, CoreOs and Centos. it has been tested on Photon 1.0 GA, Ubuntu 16.04, CoreOS 4.11.2 and Centos 7.3"

[2017-11-28 15:53] abrarshivani commented on #294
Verified existing e2e tests for multi-vc code. Jenkins log here: http://cna-storage-jenkins.eng.vmware.com:8080/job/k8s-release-multi-vc-validation/21/consoleText

[2017-11-28 15:53] #294 closed

[2017-11-28 20:16] prashima opened #397 "Yaml file corrections for 'Dynamic Provisioning and StorageClass API' page"
https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/storageclass.html has two example yamls-
vpshere-volume-sc-fast.yaml
vsphere-volume-sc-slow.yaml

vsphere-volume-sc-slow.yaml is not serving much purpose and should be removed. 'parameters' for both the files should be merged.

Diskformat type for fast should be 'thin' and not 'zeroedthick'.

[2017-11-28 23:44] shuklanirdesh82 opened #399 "README.md needs to be updated"
- [ ] link: https://github.com/kubernetes/kubernetes-anywhere/blob/master/phase1/vsphere/README.md#deployment

`The recommended version is v1.6.5` <---- this line is confusing.

<img width="928" alt="screen shot 2017-11-28 at 3 41 39 pm" src="https://user-images.githubusercontent.com/22988730/33350265-bfae6f62-d452-11e7-9ea1-3293df242716.png">

- [ ] link: https://github.com/kubernetes/kubernetes-

[2017-11-28 23:55] tusharnt commented on #394
@rohitjogvmw found the following scale limits in [official k8s documentation](https://kubernetes.io/docs/admin/cluster-large/) -

- No more than 5000 nodes
- No more than 150000 total pods
- No more than 300000 total containers
- No more than 100 pods per node

For VCP, we will test with the above upper limits.

[2017-11-29 00:42] ashahi1 opened #400 "Customer facing document needs to be updated"
https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/overview.html#vsphere-storage-concepts

```VMFS (VMware FIle System)```

VMFS is specified as VMware FIle System. I think it should be Virtual Machine File System

[2017-11-29 00:47] ashahi1 commented on #400
Please correct the spelling  ```contenarized  >>> containerized````
https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/overview.html#vsphere-storage-concepts

```Persistent volumes requested by stateful contenarized applications can be provisioned on VSAN, VMFS or NFS datastores.```

[2017-11-29 22:21] tusharnt commented on #388
@ashahi1 any update on this?

[2017-11-30 00:33] tusharnt commented on #232
@stegeler has already created a cool demo that will be uploaded to VMware Cloud-Native youtube channel.
Once it's available, I will close this issue.

[2017-12-01 00:54] divyenpatel commented on #388
Performed following to validate VVOL support for vSphere Cloud Provider.

- Deployed Kubernetes Cluster v1.8.4 on VVOL backed by iSCSi.
- Verified volume provisioning works well on VVOL backed by NFS.
- Created Statefulset with StorageClass and verified dynamic volume provisioning and volume attachment is successful.
- Executed vSphere Cloud Provider e2e test cases from E2ETests1.8branch branch. -

[2017-12-01 01:36] abrarshivani commented on #342
Fix in PR: https://github.com/kubernetes/examples/pull/150.

[2017-12-01 01:36] #342 closed

[2017-12-01 01:52] tusharnt commented on #388
Doc updates - https://github.com/vmware/vsphere-storage-for-kubernetes/pull/10

[2017-12-01 16:26] #400 closed

[2017-12-01 16:28] #388 closed

[2017-12-01 18:09] guillierf opened #401 "doc issue"
in the  guestbook example
(https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/guestbook.html)

section "guestbook application with dynamic provisioning", the following command is missing:
$ kubectl create -f redis-master-pv.yaml create -f redis-slave-pv.yaml

(without this command, the REDIS-master and REDIS-slave POD cannot be created)

[2017-12-01 19:36] #397 closed

[2017-12-01 19:45] divyenpatel commented on #401
@guillierf for dynamic provisioning we need to create stroage class and PV claim, PV will be created automatically.

so sequence should be

1. Create Storage Class
[code]

2. Create PV claims
[code]

3. Create Pods with Claims
[code]

For static Volume, we need to create PV manually using YAML files.

Steps mentioned at https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/guestboo

[2017-12-01 19:48] guillierf commented on #401
@divyenpatel when I look at redis-master-pv.yaml file, it contains the volumepath where we can specify the datastore.
How can the PVC figure our the volumepath if we don't create the PV before creating the PVC?

[2017-12-01 20:07] divyenpatel commented on #401
@guillierf if you look at the yaml spec for the master and slave deployments, we use `persistentVolumeClaim` in the volume. Kubernetes can find PVs associated with PVC and finds `volumepath` from PV to attach with the node.

https://github.com/vmware/kubernetes/blob/kube-examples/kube-examples/guestbook/guestbook-storageclass/guestbook-all-in-one.yaml#L62
https://github.com/vmware/kubernetes/blob/

[2017-12-01 20:09] guillierf commented on #401
@divyenpatel I am still troubled because I am talking about the **vSphere datastore name**.
This one appears in the PV - but not in PVC nor in the master and slave deployments.

[2017-12-01 20:10] guillierf commented on #401
@divyenpatel sorry got it. it's in the storage class.

[2017-12-01 20:10] #401 closed

[2017-12-01 20:16] divyenpatel commented on #222
@rohitjogvmw has addressed this issue as part of https://github.com/vmware/vsphere-storage-for-kubernetes/pull/13/files#diff-e5ef072067c621514629e7382d090b04

In the PR @rohitjogvmw has highlighted Automation as "Preferred method".

@tusharnt Is this sufficient?

[2017-12-01 22:48] #395 closed

[2017-12-01 23:14] tusharnt commented on #232
@stegeler's video is now live! Check it out at https://www.youtube.com/watch?v=mZxQyHwAefY&t=18s

[2017-12-01 23:14] #232 closed

[2017-12-02 00:07] divyenpatel commented on #217
Following table summarizes major feature introduction in Kubernetes releases. This can help identify Kubernetes version for specific vSphere Cloud Provider feature.

| Kubernetes Release | vSphere Cloud Provider feature |
| ------ | ------ |
| v1.6.3 | Dynamic volume provisioning using vSAN storage capabilities |
| v1.6.5 | vSphere HA support |
| v1.7.0 | vSphere storage policy support for dynamic

[2017-12-02 01:30] divyenpatel opened #403 "Automate HTML site generation for each PR merged to master branch."
Automate HTML site generation and create commit in `gh-pages` branch for each PR merged to https://github.com/vmware/vsphere-storage-for-kubernetes.

cc: @tusharnt

[2017-12-02 01:32] divyenpatel commented on #403
@ashahi1 I think you have created some script for vDVS documentation. Can you please share the steps?

[2017-12-02 03:03] divyenpatel commented on #217
Addressed as part of vmware/vsphere-storage-for-kubernetes#13

[2017-12-02 03:03] #217 closed

[2017-12-02 03:07] divyenpatel commented on #222
Addressed as part of https://github.com/vmware/vsphere-storage-for-kubernetes/pull/13

[2017-12-02 03:07] #222 closed

[2017-12-04 19:26] prashima opened #404 "Attach failing with NotAuthenticated error."
Pod is not getting created successfully with statically created disk, attached to pod directly as volume or via PVC.

Steps to reproduce
1. Deployed Kubernetes cluster based off multi-vc-upstream branch.  Tried both custom hyperkube build as well as 1.9.0-alpha for Project Octopus.
2. Tried workflows https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/kubernetes-volumes.html and

[2017-12-04 19:29] prashima opened #405 "Attach failing with error: Failed to add disk 'scsi1:2'"
Pod is not getting created successfully with statically created disk, attached to pod directly as volume or via PVC.

Steps to reproduce

1. Deployed Kubernetes cluster based off multi-vc-upstream branch. Tried both custom hyperkube build as well as 1.9.0-alpha for Project Octopus.
2. Tried workflows https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/kubernetes-volumes.html and

[2017-12-04 20:59] ashahi1 commented on #403
@divyenpatel Here is the script-
https://github.com/vmware/docker-volume-vsphere/blob/master/misc/scripts/update_gh_pages.sh

Please take a look at it and let me know if you have any questions.

[2017-12-04 21:05] rohitjogvmw commented on #246
Updated documentation with below PR.

vmware/vsphere-storage-for-kubernetes#13

[2017-12-04 21:05] #246 closed

[2017-12-04 21:09] rohitjogvmw commented on #268
There are multiple tests needed for multi-vc.
It is tracked using below epic.
https://github.com/vmware/kubernetes/issues/378

[2017-12-04 21:09] #268 closed

[2017-12-04 21:11] rohitjogvmw commented on #267
@abrarshivani verified that single VC tests run with code changes for octopus.
Closing the PR

[2017-12-04 21:11] #267 closed

[2017-12-04 21:30] abrarshivani opened #406 "Implement a tool to launch k8s cluster on vSphere configured for multi-vc"

[2017-12-04 21:34] abrarshivani opened #407 "Launch VMs on multiple vCenters"

[2017-12-04 21:38] abrarshivani opened #408 "Implement a tool to launch k8s cluster on vSphere configured for multi-vc"

[2017-12-04 21:38] #406 closed

[2017-12-04 21:42] abrarshivani opened #409 "Configure K8s cluster on launched VMs by the test tool"

[2017-12-04 21:43] abrarshivani opened #410 "Launch k8s addons on k8s launched by the test tool"

[2017-12-04 21:47] abrarshivani opened #411 "Design a tool to launch k8s cluster on multiple vCenters for testing VCP"

[2017-12-04 22:08] #399 closed

[2017-12-05 00:20] abrarshivani opened #412 "K8s e2e tests configuration for multi-vc"
Currently, we accept environment variables for single VC, we need to change to multi-vc.

[2017-12-05 18:39] divyenpatel opened #413 "flannel failed to start with error - Failed to acquire subnet: out of subnets"
Issue: https://github.com/vmware/kubernetes/issues/394

For determining VCP scale limit, we have deployed 1000 kubernetes nodes (build : v1.8.4)
Out of 1000 nodes, 252 nodes registered successfully with the master and functioning well without any issue.

[code]

When tried to register 253rd node with the master, Observed that flannel failed to start and running out of subnet.

Following is the fla

[2017-12-05 19:51] abrarshivani commented on #389
Dupilcate https://github.com/vmware/kubernetes/issues/408

[2017-12-05 19:51] #389 closed

[2017-12-06 19:49] prashima commented on #392
This bug exists in 1.8 version as well and needs to be cherry-picked.

[2017-12-06 20:20] prashima commented on #392
Root cause:
virtualmachine.go#getVirtualDeviceByPath method is making comparison between volume path and disk's backing filename to check if backing file still exists for the given volume. However, the volume path doesn't contain extension .vmdk and if backing filename contains extension .vmdk then the two will not match. As a result detach code with move on assuming that disk is no longer present

[2017-12-06 20:23] prashima opened #414 "Update static provisioning test to not to use vclib methods"
#392 root cause:
virtualmachine.go#getVirtualDeviceByPath method is making comparison between volume path and disk's backing filename to check if backing file still exists for the given volume. However, the volume path doesn't contain extension .vmdk and if backing filename contains extension .vmdk then the two will not match. As a result detach code moves on assuming that disk is no longer presen

[2017-12-06 21:00] abrarshivani commented on #413
According to the flannel network ```172.1.0.0/16``` only 255 nodes can come up since each subnet of ``172.1.0.0/24``` is allocated to the VM.  This can also be seen in flannel logs:
[code]

For increasing the number of nodes flannel network size should be increased this can be done by changing configuration of flannel network in Kubernetes-anywhere.

Note:
You can check flannel env as follows:
[co

[2017-12-06 22:48] divyenpatel commented on #413
Thanks @abrarshivani

I just checked the configuration on 5 node cluster deployed with configuration `FLANNEL_NETWORK=172.1.0.0/16` each node is getting assigned one subnet, and within each subnet with 256 addresses per node.

[code]

[code]

[code]

[code]

[code]

So with FLANNEL_NETWORK=172.0.0.0/8, We can have 66052 subnet, one for each node.

I will close this bug after testing this understan

[2017-12-06 23:42] #369 closed

[2017-12-07 00:11] shaominchen commented on #365
Closing this as it's duplicate to issue #368

[2017-12-07 00:23] shaominchen commented on #365
We decided to keep this to track 1 of the 4 different combinations of static/dynamic provisioning and master/node vm migration.

[2017-12-07 00:27] shaominchen commented on #368
This will be covered by #365 and #366.

[2017-12-07 00:27] #368 closed

[2017-12-07 00:27] shaominchen commented on #367
This will be covered by #365 and #366.

[2017-12-07 00:27] #367 closed

[2017-12-07 00:39] shaominchen commented on #370
VM inventory name change will not trigger any real code workflow in VCP. So we will start with a testbed where the hostname and VM inventory name are different. Then all other test cases will verify this scenario implicitly.

[2017-12-07 00:39] #370 closed

[2017-12-07 00:41] shaominchen commented on #375
VM inventory name change will not trigger any real code workflow in VCP. So we will start with a testbed where the hostname and VM inventory name are different. Then all other test cases will verify this scenario implicitly.

[2017-12-07 00:41] #375 closed

[2017-12-07 00:44] shaominchen commented on #376
VM inventory name change will not trigger any real code workflow in VCP. So we will start with a testbed where the hostname and VM inventory name are different. Then all other test cases will verify this scenario implicitly.

Also if later on anybody happen to introduce new changes that rely on VM inventory names, existing test cases should break and catch the regression.

[2017-12-07 00:44] #376 closed

[2017-12-07 02:04] divyenpatel commented on #413
Closing the issue.
I am able to create 500 node cluster with setting flannel network to `17.0.0.0/8`

[code]

[code]

[code]

CC: @rohitjogvmw @tusharnt

[2017-12-07 02:04] #413 closed

[2017-12-07 19:39] prashima opened #417 "Update volume path to match disk path"
vsphere-volume-pod.yaml in workflow https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/kubernetes-volumes.html needs to be updated. Volume path is missing .vmdk extension. Volume will still get attached but we don't want to encourage that usage.

[2017-12-07 19:47] prashima commented on #392
Update on root cause:

The real root cause of this problem is the fact that VCP allows volume creation even when volume path doesn't contain .vmdk extension and disk does. This leads to the problem at the time of detach. However, we can't fix auto appending of .vmdk to volume path that misses it, because that happens in gvmomi code. If we try to change this behavior in govmomi we might break other

[2017-12-07 20:07] prashima commented on #417
@abrarshivani pointed out that VCP user have always been _not appending_ vmdk extension in yamls. Owing to historical usage we decided to not to go ahead with this change.

[2017-12-07 20:07] #417 closed

[2017-12-07 23:12] shaominchen commented on #379
Test Steps:
1. Run command kubectl get nodes to verify Node was present
2. Power off and delete node VM from vSphere inventory
3. Run command kubectl get nodes to verify Node was removed
4. Add the node back to vSphere inventory and power it on
5. Run command kubectl get nodes to verify Node was present
6. Created pod with dynamically created vSphere volume
7. Deleted Pod

[2017-12-07 23:13] shaominchen commented on #380
This has been merged with #379

[2017-12-07 23:13] #380 closed

[2017-12-07 23:19] shaominchen commented on #372
As discussed, local datastore will be pre-created in the testbed @abrarshivani

[2017-12-07 23:19] abrarshivani commented on #372
For E2E testing we need testbed with one non-shared datastore.

[2017-12-07 23:38] shaominchen commented on #373
Test Steps (@abrarshivani to confirm):

1. Create a pod with dynamically created volume
2. Bring down the VC
3. Verify the volume is still attached to the pod
4. [TBD] Verify the error message returned by VCP to k8s
5. Restart VC

[2017-12-07 23:46] shaominchen commented on #377
Test steps:

1. Migrate VM to another VC which is not in vsphere.conf.
2. Provision volume and created pod with that volume
3. Delete volume

Expected result in step 2:
Volume is not attached but pod is scheduled on k8s-node which is not present in the provided list of VCs.

[2017-12-07 23:58] shaominchen commented on #371
Test steps:

1. Provision PV1, verify it goes to default datastore
2. Change default datastore value in vsphere.conf, and restart the master
3. Provision PV2, verify it goes to new datastore
4. Remove PV1 and PV2
5. Change default datastore back to original, and restart the master

[2017-12-07 23:59] shaominchen commented on #382
This is already covered by #371

[2017-12-07 23:59] #382 closed

[2017-12-08 00:15] shaominchen commented on #383
Test steps:

1. Change DC name of one VC to a random value in vsphere.conf
2. Restart the master and verify the master node will not start
3. Change the DC name back to original
4. Restart the master and verify the master node will start successfully

[2017-12-12 20:32] prashima commented on #405
This issue was arising because of issue #392.

If a pod is created with static volume, deleted and recreated, volume attach would fail. Attach operation will not be able to detect that the disk as already attached and will attempt to reattach.

https://github.com/kubernetes/kubernetes/pull/57053 will fix this issue as well.

[2017-12-12 20:32] #405 closed

[2017-12-13 00:30] prashima commented on #404
I couldn't attach logs because of huge file size, even with tar.gz.

Here is the analysis so far-
1. VSphere.AttachDisk method is invoked.
2. For some reason session expires and VSphereConnection tries to establish a new connection-
596685 {"log":"W1202 00:04:13.541216       1 connection.go:71] Creating new client session since the existing session is not valid or not authenticated\n","stream":"st

[2017-12-13 23:28] prashima commented on #404
@abrarshivani and I discussed this issue and have finalized this solution:

VCP code is caching VirtualMachine and Datacenter govmomi objects. These objects contain reference to govmomi client. These references don't get updated when new vSphere connection is made. To solve this problem we will add a callback to vclib.Connect() method. In this callback we will update connection object in all requi

[2017-12-14 20:22] abrarshivani opened #419 "Deprecated vm-uuid in vsphere.conf"
If vmuuid is not present in the conf file and file ```/sys/class/dmi/id/product_serial``` is not present vcp throws an error.
Workaround (for multi-vc): Add some random uuid in the conf file since it is not used in code anywhere.

[2017-12-18 18:49] #390 closed

[2017-12-18 19:41] prashima opened #420 "Cherry picking PRs for 1.9.2"
This issue is for tracking all the PRs that need to be cherry picked for 1.9.1.
@prashima to find out code freeze deadline for 1.9.1.
https://github.com/kubernetes/kubernetes/pull/57053

[2017-12-18 19:41] prashima commented on #392
PR is merged. Closing this issue.

Opened new issue to track cherry picking https://github.com/vmware/kubernetes/issues/420

[2017-12-18 19:41] #392 closed

[2017-12-18 20:34] divyenpatel commented on #394
Published configuration for 500 nodes scale testing at https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/largescaledeployment.html

[2017-12-19 00:07] #353 closed

[2017-12-19 09:54] embano1 commented on #168
Hi,

have another customer asking for this functionality. Customer is under assumption this is implemented and supported for certain providers, as stated [here](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/grow-volume-size.md) in column "**supported in v1.8 release**".

Can you please comment and clarify? Thx

[2017-12-19 19:45] pshahzeb commented on #347
This fix is not needed in release 1.7
This is due to a different logic of DiskIsAttached/DiskAreAttached logic.
In release 1.7 these method rely on `checkDiskAttached` -> `getVirtualDiskControllerKey` which calls `removeClusterFromVDiskPath` which handles clustered datastore name.

See the test output below for all 3 cases of clustered datastore test suite passing on release 1.7
[code]

[2017-12-19 19:45] #347 closed

[2017-12-19 20:00] shaominchen commented on #404
I ran into the same issue when creating a pvc - here are the logs:

{"log":"I1218 19:52:44.711058       1 vsphere_volume_util.go:137] VSANStorageProfileData in vsphere volume \"\"\n","stream":"stderr","time":"2017-12-18T19:52:44.71240654Z"}
{"log":"I1218 19:52:44.711223       1 vsphere.go:961] Starting to create a vSphere volume with volumeOptions: \u0026{CapacityKB:2097152 Tags:map[kubernetes.io/

[2017-12-19 21:45] prashima commented on #414
Team has discussed this issue and agreed upon the priority. This issue should be addressed along with other test automation for project octopus.

Assigning this to @divyenpatel to scope out solution better and to give some time estimate.

[2017-12-19 21:57] prashima commented on #404
Since this is a critical issue and needs to be fixed in next 1.9.*, here is the short term solution that team has agreed on (discarding any other previously discussed solution) to minimize impact on existing code:

1. nodemanager.go: Check and renew vSphere connection for cached govmomi VirtualMachine and Datacenter.
2. Make sure that new vSphere connection is accessible to all node VMs that resid

[2017-12-19 22:38] prashima commented on #414
Please note that this doesn't need to go in 1.9.*. We can put along with other test automation for project octopus.

[2017-12-20 19:30] divyenpatel commented on #168
@embano1
This is not implemented and supported in v1.8 release. but we have APIs to perform resize and extend file system for vSphere volume.

[2017-12-20 22:16] shaominchen commented on #420
@prashima @abrarshivani @divyenpatel @BaluDontu @rohitjogvmw
Can everybody share your PRs that need to be cherry picked for 1.9.1? It will save us a lot of time if we can do a bulk PR for all cherry picks.

My PR to be cherry picked: https://github.com/kubernetes/kubernetes/pull/56726

[2017-12-20 22:18] abrarshivani commented on #420
My PR to be cherry-picked: https://github.com/kubernetes/kubernetes/pull/56648

[2017-12-20 23:08] prashima commented on #420
In case it wasn't clear in my first comment on this issue...

My PR to be cherry-picked: kubernetes#57053

Will add more, once I have a PR out.

[2017-12-20 23:13] divyenpatel commented on #420
We need to cherry pick https://github.com/kubernetes/kubernetes/pull/57286 also to 1.9 once merged.

[2017-12-20 23:16] shaominchen commented on #420
I have cherry picked all existing 3 PRs (#56648 from @abrarshivani,  #56726 from myself, #57053 from @prashima): https://github.com/kubernetes/kubernetes/pull/57482

I will share the cherrypick process (thanks @divyenpatel ) on our wiki so that somebody else can do the same for other pending PRs (once merged) following the same process.

[2017-12-22 00:38] tusharnt commented on #411
Design has been reviewed internally.

[2017-12-22 00:38] #411 closed

[2018-01-02 22:24] divyenpatel opened #422 "Mount volume fails on the master branch builds"
Internal nightly run has observed following when pod is created with new vSphere volume which is never formatted before.

[code]

30 tests are failing due to this issue.

Verified this manually as well. When volume is formatted manually and re-creation of the pod with pre-formatted volume succeeded.

[2018-01-02 22:27] divyenpatel commented on #422
Test Failures: http://cna-storage-jenkins.eng.vmware.com/job/k8s-release-dev-ci-latest/10/#showFailuresLink

[2018-01-02 22:34] divyenpatel opened #423 "Stabilize nightly build validation for release 1.8 branch"
When executed tests in random order observed test failures

http://cna-storage-jenkins.eng.vmware.com/job/k8s-release-1.8-validation/lastCompletedBuild/testReport/

[2018-01-02 22:35] divyenpatel opened #424 "Stabilize nightly build validation for release 1.7 branch"
When executed tests in random order observed test failures

http://cna-storage-jenkins.eng.vmware.com/job/k8s-release-1.7-validation/lastCompletedBuild/testReport/

[2018-01-02 22:56] prashima commented on #306
Needs feasibility analysis and not a priority for Octopus test automation. Moving out of wonder women.

[2018-01-02 23:06] prashima commented on #422
@divyenpatel is analyzing for root cause. Putting a rough estimate of 2 days as placeholder. More details to follow.

[2018-01-02 23:06] prashima commented on #422
This is a blocker for all PRs to master.

[2018-01-02 23:09] prashima commented on #404
I am testing with 1.9 but PR generation will get blocked by https://github.com/vmware/kubernetes/issues/422, as our tests are failing for master.

[2018-01-02 23:24] prashima commented on #348
Closing this issue.

- kubernetes-anywhere uses older etcd version: This is already fixed with new ignition image. The new tag is- https://hub.docker.com/r/cnastorage/etcd3-ignition/
- Multi master: tracked by https://github.com/vmware/kubernetes/issues/303
- UX script changes: not needed, https://github.com/vmware/kubernetes/issues/408 will take care of all CI/CD and testbed deployment tasks.

[2018-01-02 23:24] #348 closed

[2018-01-02 23:25] prashima commented on #264
Closing this issue. This will be taken care of by https://github.com/vmware/kubernetes/issues/408. The testbed described in issue description is not needed any more. #408 will provide configurable testbed deployment.

[2018-01-02 23:25] #264 closed

[2018-01-02 23:32] prashima commented on #363
Team discussed that this is not a priority for Wonder Woman. So moving it out.

[2018-01-02 23:37] prashima commented on #295
Team discussed that we won't be able to get to this issue in Wonder Woman. Once multi-VC e2e tests are done we can revisit this.

[2018-01-02 23:40] prashima commented on #419
Putting it in backlog because we have a work around of putting fake uuid in conf file.

[2018-01-02 23:43] prashima commented on #419
Putting this back in Wonder Women. Will let @abrarshivani decide if this needs to be moved out.

[2018-01-02 23:50] prashima commented on #412
@abrarshivani the tests on PR https://github.com/kubernetes/kubernetes/pull/57258 are failing.

[2018-01-02 23:55] prashima commented on #393
Duplicate of  #404

[2018-01-02 23:55] #393 closed

[2018-01-03 03:11] divyenpatel commented on #420
Cherry picked #57286 to 1.9: https://github.com/kubernetes/kubernetes/pull/57774

[2018-01-03 19:40] pshahzeb opened #425 "VCP Scale testing bottlenecks"
In context of scale testing for VCP beyond 1000 node k8s cluster, the setup of k8s itself is hitting following bottlenecks.
These issues are with respect to 2000 node k8s cluster. After downscaling the size of cluster from 2000 to 1700 and then to 1500, the issues still existed.
No load had been started on this cluster and just stabilizing the k8s cluster itself hits the bottlenecks.

1. K8s contr

[2018-01-03 20:19] prashima opened #426 "Explore upgrade to 1.9 multi-VC"
Explore the behavior for upgrading a k8s cluster deployed on vSphere to 1.9.

Support matrix (Two dimensions of the problem)

- K8s version - 1.7 & 1.8
- K8s deployment mechanism - kube-anywhere, kubeadm

As part of addressing this issue assignee can:

- [x] First try upgrading manually and check the behavior during upgrade
- [x] Find out any extra steps required by user
- [x] Find out behavior fo

[2018-01-03 21:51] #394 closed

[2018-01-03 22:09] ashahi1 opened #427 "Develop infrastructure deployment script for Kubernetes cluster deployment"
Single VC deployment:
1. Infrastructure should have 8 ESX vsan cluster,
2. Shared vMFS, Shared NFS and vSAN datastore.

Multi-VC deployment:
1. Infrastructure VC deployment should be of type M1N2
2. Each VC should have two datacenter
3. Each datacenter should have two clusters of 2 ESX
4. Shared VMFS and Shared NFS datastores

[2018-01-03 23:49] divyenpatel commented on #422
Tried to format volume with ext4 from kubelet container and its failing with following error

[code]

[2018-01-04 18:14] divyenpatel commented on #422
Created Issue on Kubernetes for community help - https://github.com/kubernetes/kubernetes/issues/57844

[2018-01-04 18:24] shaominchen commented on #420
@divyenpatel Should we close this issue? Any remaining PRs to be crossported?

[2018-01-04 18:39] divyenpatel commented on #420
Waiting for https://github.com/kubernetes/kubernetes/pull/57774 to be merged. then we can close this issue.

[2018-01-04 19:05] shaominchen commented on #371
As we discussed in the meeting, all vsphere config change related tests should be done in unit tests instead of e2e tests. Making changes to config files in e2e tests is disruptive and make cause the whole test suite unstable. It's fair enough to verify config file changes in some simple unit tests.

Moving this to backlog and we will add a simple test for this once unit tests are enabled for VCP.

[2018-01-04 19:08] shaominchen commented on #371
For unit test, we don't need to verify master vm restart, just verify the modification to vsphere.conf file gets picked up will be sufficient.

[2018-01-04 19:09] shaominchen commented on #383
As we discussed in the meeting, all vsphere config change related tests should be done in unit tests instead of e2e tests. Making changes to config files in e2e tests is disruptive and may cause the whole test suite unstable. It's fair enough to verify config file changes in some simple unit tests.

Moving this to backlog and we will add a simple test for this once unit tests are enabled for VCP.

[2018-01-05 00:26] BaluDontu commented on #426
I am planning to do the following steps to explore the upgrading behaviour.

1. First try upgrading manually and check the behavior during upgrade
Part 1:
   - Deploy a multi-VC(M2N1) setup and use a single VC out of it for deploying a 1.8 kubernetes cluster. Verify basic VCP operations works.
   - Upgrade the kubernetes cluster to 1.9 kubernetes by updating the hyperkube image on Kubernetes core

[2018-01-05 03:56] divyenpatel commented on #422
New Ignition image - `docker.io/cnastorage/etcd3-ignition:k8smaster`solves the problem. Verified creating pod with vsphere volume attached on `v1.10.0-alpha.1.468+51345dea4573db`.

[2018-01-05 03:59] divyenpatel commented on #404
@prashima you can try out with this new ignition image - `docker.io/cnastorage/etcd3-ignition:k8smaster` for the hyperkube image build using master branch code.

[2018-01-05 17:41] prashima commented on #404
Sure, let me give it a try.

[2018-01-05 18:29] prashima commented on #426
Few comments,

- In general, it would be beneficial to record steps, cluster state and spell out expectations for this whole exercise. Eg: 1.Part1 'Move some of the kubernetes nodes from VC1 to VC2' -> is kubelet stopped or running? What is the expected output here in terms of logs as well as actual cluster behavior? Similarly, for Part2, what is the expected behavior of cluster when nodes are mov

[2018-01-05 19:39] BaluDontu commented on #426
Do you mean no vsphere.conf changes will be performed for this step?
Yes.
Few comments,

We don't need to stop the kubelet for moving the nodes. We can prepare the node for maintenance, marking it unschedulable and evicting the workload using "kubectl drain $NODE" and later after successful migration to target VC, we can uncordon the node using "kubectl uncordon $NODE". I will add the steps in det

[2018-01-05 19:47] prashima commented on #426
Yes, they look fine to me.

Want to add one more point- please make sure that we check logs for any errors for both master and workers.

[2018-01-08 19:19] prashima commented on #404
PR out for review https://github.com/kubernetes/kubernetes/pull/57978

[2018-01-08 19:28] prashima opened #428 "Use latest PodSpec for test cleanup"
Various e2e tests are performing cleanup by deleting the pod and volumes. Some of them are failing with 'No VM found' error. This is happening because the NodeName passed to cleanup functions is empty string.

**Root cause:** The pod spec used for deletion operation is not always latest and sometimes misses the 'NodeName' field. This could be because the time k8s returns Pod resource, it wasn't sc

[2018-01-09 00:22] cmtk opened #429 "Deprecated TPR for CDR in enable-vcp-uxi scripts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
enable-vcp-uxi script fails upon `vcp-daemontset.yaml` validation in kubernetes v1.9:
`error: error validating "/opt/enable-vcp-scripts/vcp-daemontset.yaml": error validating data: couldn't find type: v1beta1.ThirdPartyResource; if you choose to ignore these errors, turn validation off with --validate=false
[ERROR] 'kube

[2018-01-09 01:09] pshahzeb commented on #429
@cmtk thank you for submitting this. We are working on it and will update the issue.

[2018-01-09 02:35] divyenpatel commented on #422
@prashima and @BaluDontu confirmed that `docker.io/cnastorage/etcd3-ignition:k8smaster` works fine with master branch and 1.8 builds.

Closing this issue.

[2018-01-09 02:35] #422 closed

[2018-01-09 02:36] divyenpatel commented on #420
https://github.com/kubernetes/kubernetes/pull/57774 is Merged on 1.9 branch. Closing this issue.

[2018-01-09 02:36] #420 closed

[2018-01-09 23:36] BaluDontu commented on #412
make verify is failing on the kubernetes PR because it found a flag "VCP_STRESS_ITERATIONS" declared with an _ which is not explicitly listed as a valid flag name in hack/verify-flags/excluded-flags.txt.

The problem is with this specific line
Expect(err).NotTo(HaveOccurred(), "Error Parsing VCP_STRESS_ITERATIONS") in vsphere_stress.go file.

where it expects to not have _ as part of NotTo stateme

[2018-01-10 00:45] BaluDontu commented on #419
@abrarshivani : We previously verified that all OS have `/sys/class/dmi/id/product_serial` file. Which OS did you use for testing?

[2018-01-10 22:15] BaluDontu commented on #426
First try upgrading manually and check the behavior during upgrade

Part 1:
- Deploy a multi-VC(M2N1) setup and use a single VC out of it for deploying a 1.8.6 kubernetes cluster. Verify basic VCP operations works.
   - Deployed a basic guestbook (redis) application with frontend and backend where volume is backed by vsphere volume. All the create, attach, detach and delete operations works perfec

[2018-01-11 00:29] BaluDontu commented on #419
Based on discussion with @abrarshivani offline, this is the case with the latest commit for e2e test case support for multi-vc on PR - https://github.com/kubernetes/kubernetes/pull/57258.

The GetVsphere() function uses the newly implemented method newControllerNode() to create the vSphere struct for use by the e2e test cases. The code is present here - https://github.com/kubernetes/kubernetes/pul

[2018-01-11 03:35] divyenpatel commented on #404
Cherry pick to 1.9 is out - https://github.com/kubernetes/kubernetes/pull/58124

[2018-01-11 16:33] dkirrane opened #432 "error validating "/opt/enable-vcp-scripts/vcp-daemontset.yaml": error validating data: couldn't find type: v1beta1.ThirdPartyResource"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT
/kind bug

**What happened**:
```error: error validating "/opt/enable-vcp-scripts/vcp-daemontset.yaml": error validating data: couldn't find type: v1beta1.ThirdPartyResource; if you choose to ignore these errors, turn validation off with --validate=false```

**What you expected to happen**:
vcp resources get deployed sucessfully

**How to re

[2018-01-11 16:34] dkirrane commented on #432
Also, I could run that taint command to allow DaemonSets on master
[code]

[2018-01-11 16:54] dkirrane commented on #432
Duplicate of #429

[2018-01-11 16:54] #432 closed

[2018-01-11 18:54] tusharnt commented on #377
@rohitjogvmw & @shaominchen to conclude whether this is needed.

[2018-01-11 19:00] tusharnt commented on #323
@divyenpatel to help @shuklanirdesh82 on this.

[2018-01-11 19:05] tusharnt commented on #303
@rohitjogvmw has concluded that no code changes are required in VCP for active-passive controller-manager configuration. As per @SandeepPissay , locking logic in VCP would need updates in case of active-active controller-manager configuration.
@divyenpatel to confirm this and identify if there are any changes required.

[2018-01-11 19:20] rohitjogvmw commented on #303
As per the multi-master documentation only one controller-manager would be running at any point.
That is controller-manager works in active-passive mode. Where as etcd, API-server runs on all master nodes.

For more details, please see section (https://kubernetes.io/docs/admin/high-availability/#master-elected-components)

https://kubernetes.io/docs/admin/high-availability/ also describes steps to

[2018-01-11 22:00] cmtk commented on #429
For what it's worth, CRD was first available in v1.7.0 if you want to try splitting the script at the earliest possible compatibility: >=1.7.0.

The relevant documentation:

https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-third-party-resource/

[2018-01-11 22:58] #391 closed

[2018-01-11 22:58] #404 closed

[2018-01-12 00:50] prashima commented on #426
Comments for part 1:
- Looks like the error you wanted to post is missing here-

- It's not clear if you tried scheduling the pod on the migrated node or not. Can you please clarify? Scheduling should be tried on the migrated node so that we know that new VC is getting connected to and cached.

[2018-01-12 00:59] BaluDontu opened #434 "E2E tests to not use production code for volume operations"
Currently vSphere E2E test cases uses VCP production code for bootstrap logic, example is to get an instance of vSphere struct. Once it gets an instance vSphere struct, it will use this object to call into methods in VCP code like - DiskIsAttached(), DisksAreAttached() etc.

This direct dependency on the VCP production should be removed as any changes to the production code would create a problem

[2018-01-12 02:05] divyenpatel opened #435 "[Nightly Master] E2E test: static provisioning on clustered datastore failed"
Test: [sig-storage] Volume Provisioning On Clustered Datastore [Feature:vsphere] verify static provisioning on clustered datastore – Kubernetes e2e suite

**Stacktrace**
[code]
**Standard Output**

[code]

[2018-01-12 02:08] divyenpatel opened #436 "[Nightly Master] E2E test: dynamic provisioning with default storage class parameter on clustered datastore failed"
**Stacktrace**

[code]

Standard Output
[code]

[2018-01-12 02:12] divyenpatel commented on #435
cc: @pshahzeb

[2018-01-12 02:12] divyenpatel commented on #436
cc: @pshahzeb

[2018-01-12 02:17] divyenpatel commented on #436
Test is failing with error "The specified datastore dscl1/sharedVmfs-1 is not a shared datastore across node VMs."
Checked on the vCenter: dscl1/sharedVmfs-1 is mounted on all hosts in the vCenter, so should be accessible for all node VMs.

[2018-01-12 02:17] divyenpatel commented on #435
Test is failing with error "The specified datastore dscl1/sharedVmfs-1 is not a shared datastore across node VMs."
Checked on the vCenter: dscl1/sharedVmfs-1 is mounted on all hosts in the vCenter, so should be accessible for all node VMs.

[2018-01-12 18:43] divyenpatel commented on #428
E2E test is failing with this reported issues

**Stacktrace**

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/storage/vsphere/vsphere_volume_fstype.go:91
Expected error:
    <*errors.errorString | 0xc42029cbd0>: {s: "No VM found"}
    No VM found
not to have occurred
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/storage/vsphere/vsphe

[2018-01-12 19:57] divyenpatel commented on #436
Root cause of the issue is when datastore is located within datastore folder or datastore cluster, logic to verify datastore’s accessibility to all node VMs is not removing path of the datastore while comparing against shared datastore names.

Code block to fix - https://github.com/kubernetes/kubernetes/blame/master/pkg/cloudprovider/providers/vsphere/vsphere.go#L1058

[2018-01-12 23:51] BaluDontu commented on #419
I have a PR out on kubernetes for fixing this issue - https://github.com/kubernetes/kubernetes/pull/58230

[2018-01-16 18:43] pshahzeb commented on #434
Production code packages imported are vclib and vsphere: Following  functions are directly used
[code]
Struct used directly
`1. vclib.VolumeOptions `

Once vsp object us created using vsphere.GetVSphere() function. Following are the production code functions used directly:
[code]

[2018-01-16 19:23] pshahzeb commented on #377
This negative scenario fits for a unittest.
Below is the workflow:
1.  A k8s cluster where nodes span across 2 VC
2. Register only one vc with the VCP through the conf file.
3. Use Nodeselector to provision pod with on the node VM present on VC not registered with VCP ( this step should fail)

[2018-01-16 19:35] pshahzeb opened #437 "Implementation of NodeVM-VC map and use it in new/existing tests"
This issue tracks the need of node discovery to populate map of K8s node VMs to the VC in which they reside. After multi-VC feature, we need this and can't rely on the fact that all VMs reside on a given VC.

This discovery needs to be done once before launching the entire vsphere test suite.
This issue also tracks using this discoverymap in existing test files and modify them to make sure nothing

[2018-01-16 19:37] shaominchen commented on #377
Let's move this out of Wonder Woman Sprint then. We shall revisit this once unit test is enabled.

[2018-01-16 20:38] BaluDontu commented on #419
The PR is merged. Closing this issue.

[2018-01-16 20:38] #419 closed

[2018-01-17 18:03] divyenpatel commented on #437
We can add common provider specific initialization which needs to be invoked only once for all tests here - https://github.com/kubernetes/kubernetes/blob/master/test/e2e/e2e.go#L53

This is being called from - `ginkgo.SynchronizedBeforeSuite` at https://github.com/kubernetes/kubernetes/blob/master/test/e2e/e2e.go#L138

[2018-01-17 19:39] prashima commented on #373
Moving this out of wonder woman, to make room for production code removal from test.

[2018-01-17 19:42] prashima commented on #377
Moving this out of Wonder Woman as pointed in previous comment.

[2018-01-18 00:47] divyenpatel opened #439 "Remove checking datastore accessibility to all nodes while provisioning volumes"
Customer has following requirements.

In 1.9 release while creating volume we are mandating to provision datastore only on the shared datastore.

We need to remove this restriction to allow customer creating volumes on non-shared (not accessible to all node VMs) datastores. Customer can use kubernetes `nodeSelector` feature to control scheduling pods on specific set of nodes on which PV can be att

[2018-01-18 06:26] pshahzeb commented on #429
Hi @cmtk

We have made fix to use CRD in 1.8 and above and TPR in 1.7 (in light of upgrade requirements).
But for 1.9.0 and 1.9.1, the controller itself will fail given https://github.com/kubernetes/kubernetes/issues/57279
The fix for this is already merged and should be available through next release.

Once this works for you, we can close the issue.
Thank you for your patience and help. :)

[2018-01-18 18:28] divyenpatel commented on #439
Closing this issue as Duplicate of https://github.com/vmware/kubernetes/issues/304

[2018-01-18 18:28] #439 closed

[2018-01-18 18:33] divyenpatel commented on #436
specified datastore name instead of path in the jenkins script as mentioned below

[code]

Verified all datastore cluster related tests **passed** - http://cna-storage-jenkins.eng.vmware.com/job/k8s-release-dev-ci-latest/32/#showFailuresLink

[2018-01-18 18:33] #436 closed

[2018-01-18 18:34] divyenpatel commented on #435
specified datastore name instead of path in the jenkins script as mentioned below

[code]

Verified all datastore cluster related tests **passed** - http://cna-storage-jenkins.eng.vmware.com/job/k8s-release-dev-ci-latest/32/#showFailuresLink

[2018-01-18 18:34] #435 closed

[2018-01-18 18:37] divyenpatel commented on #414
Duplicate of https://github.com/vmware/kubernetes/issues/434

[2018-01-18 18:37] #414 closed

[2018-01-18 19:45] divyenpatel opened #440 "Create a nightly job for release 1.9 branch"
Create a nightly job for release 1.9 branch

[2018-01-19 07:18] BaluDontu commented on #412
The PR on kubernetes#57258 is merged. Closing this issue.

[2018-01-19 07:18] #412 closed

[2018-01-19 22:54] divyenpatel commented on #423
Merged: https://github.com/vmware/kubernetes/pull/441

[2018-01-19 22:54] #423 closed

[2018-01-19 23:55] #372 closed

[2018-01-20 17:21] cmtk commented on #429
Thanks for the quick work!
I'll look for that kubernetes fix in 1.9.2.

[2018-01-22 23:49] #424 closed

[2018-01-23 19:44] tusharnt opened #445 "Qualify VCP against SLES 12.3"
If the results of the testing are positive then we should update the customer facing documentation to update the list of Container Host Operating Systems - https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/prerequisites.html

@divyenpatel
Please reassign as appropriate.

[2018-01-23 19:57] BaluDontu commented on #373
Following are the test steps to be executed for this test:
- Create a pod with dynamically created volume
- Bring down the vpxd service on VC
- Verify the volume is still attached to the pod by executing SSH to the volume
- Start the vpxd service on VC
- Verify the volume is still attached to the pod by executing SSH to the volume

@prashima : Should we have hold off working on this test until you

[2018-01-24 12:48] embano1 opened #446 "Typo in VCP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Typo in VCP. `s/Google/VMware`

[code]
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/vsphere/vsphere.go#L674

**What you expected to happen**:
Correct description.

**How to reproduce it (as minimally and precisely as possible)**:
n/a

**Anything else we need to know?**:

**Environment**

[2018-01-24 19:22] pshahzeb commented on #445
Did a quick test to bring up Kubernetes cluster on SLES. Tried it with SLES 12 SP1
Docker version `Version:      17.04.0-ce`
Installed kubeadm, kubelet, kubectl from following this steps (for container linux) https://kubernetes.io/docs/setup/independent/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

After kubeadm init, the `kube-proxy` pod is stuck in CrashLoopBackOff.
The events section

[2018-01-25 00:37] tusharnt commented on #65
@BaluDontu Can this be closed?

[2018-01-25 00:44] prashima commented on #356
We can consider building custom kubeadm and hyperkube images and sharing that with customers.

[2018-01-25 01:09] rohitjogvmw commented on #364
Hi @souhradab,

This is by design.
vSphere Cloud Provider won't be providing a way to specify the location on Datastore.
There is no plan to support such such functionality.

[2018-01-25 01:09] #364 closed

[2018-01-25 19:15] divyenpatel opened #447 "VCP should not use new serviceaccount"
See issue : https://github.com/kubernetes/kubernetes/issues/58747

[2018-01-28 21:42] pshahzeb commented on #445
Tried this suggested from https://software.opensuse.org/download.html?project=Virtualization%3Acontainers&package=kubernetes to install version 1.6.1
Still unable to bring up the cluster.  Stuck at
[code]

[2018-01-29 17:52] divyenpatel commented on #440
Nightly job is created at - http://cna-storage-jenkins.eng.vmware.com/job/k8s-release-1.9-validation/

[2018-01-29 17:52] #440 closed

[2018-01-30 18:54] divyenpatel commented on #437
2nd of part of the tasks listed in the issue description is pending. @prashima is working on this.

[2018-01-30 19:13] bsnchan commented on #80
@kerneltime @tusharnt  - any idea if this will get prioritized anytime soon?

[2018-01-30 23:55] tusharnt opened #448 "Update the official logo for Project Hatchway"
Update the official logo for Project Hatchway in all our customer facing documentation.

[2018-01-31 01:06] pshahzeb commented on #445
Tested with SLES 12 SP3 and K8s version 1.9.2

After enabling VCP cloud provider, nodemanager in VCP is not able to find node VM by uuid. (DiscoverNode) function.
This is because uuid reported by kubelet is not the same as the vm uuid used to find in VC.
[code]
The uuids above are different. First one is reported by kubelet, which we use to find the VM. But the uuid in VM config is the second one.

[2018-01-31 04:32] divyenpatel commented on #445
@pshahzeb I have downgraded Node VMs compatibility to `ESXi 6.0 and later (VM version 11)` from `ESXi 6.5 and later (VM version 13)`.

With this we can see `product_serial` and `product_uuid` are in sync.

[code]
With this change VCP should be able to find node VM by uuid.

Refer: https://github.com/kubernetes/kubernetes/issues/58927#issuecomment-361811465

[2018-01-31 06:26] lucasyvas commented on #306
Having this would be a big win for us too, seeing as how vmfs itself seems to support this.

[2018-01-31 18:55] pshahzeb commented on #445
Validated VCP against SLES 12 SP3 end to end workflow.

1. Storage class:
[code]
sc-rdops-vm08-dhcp-229-174:~ # kubectl get sc
NAME      PROVISIONER                    AGE
thinsc    kubernetes.io/vsphere-volume   31m

2. PVC
[code]
[code]
3. Pod

[code]
[code]

Note:
1. The disk format of ext4 is not working and mount runs into issue related to https://github.com/kubernetes/kubernetes/issues/57844

[2018-01-31 20:54] tusharnt commented on #80
Brenda,
Let's have a chat offline to figure out your use case and relative prioritization.
Parking this with @rohitjogvmw to drive the overall design.

[2018-02-01 00:20] pshahzeb commented on #445
Additional validation with above workflow:
1. Using SPBM policy gold (created in VC)
[code]

2. Validated statefulset available here.
https://github.com/kubernetes/kubernetes/blob/master/examples/volumes/vsphere/simple-statefulset.yaml

[code]

[2018-02-01 00:33] tusharnt commented on #283
Let's track this internally.

[2018-02-01 00:33] #283 closed

[2018-02-01 00:40] tusharnt commented on #445
@pshahzeb Great job! Can you please update our customer facing documentation to reflect SLES support ?

[2018-02-01 00:46] tusharnt opened #450 "Validate all container host OSes against Virtual hardware version 13"
Validate all container host OSes against Virtual Hardware version 13 and update customer facing documentation.
Fix VCP issues uncovered if any.

[2018-02-01 06:16] shaominchen commented on #365
@abrarshivani Can you help with this e2e test? This issue and issue #366 are very similar - totally  4 different test scenarios:
1. static provisioning - vmotion master node
2. static provisioning - vmotion worker node
3. dynamic provisioning - vmotion master node
4. dynamic provisioning - vmotion worker node

As we can see, the difficulty here is to write a utility function to do vmotion. This ut

[2018-02-01 20:47] abrarshivani commented on #365
@shaominchen I will work on this.

[2018-02-01 21:51] prashima commented on #97
All comments seem to have been addressed here https://kubernetes.io/docs/getting-started-guides/vsphere/

[2018-02-01 21:51] #97 closed

[2018-02-02 03:36] divyenpatel commented on #450
Here is my observations.

**VM version 13**
- New VM  created from ISO - `product_serial` and `product_uuid` **does not match.**
- New VM created from OVA -  `product_serial` and `product_uuid` **does match**.

**VM version 11**
- New VM created from ISO -`product_serial` and `product_uuid` **does match.**
- New VM created from OVA - `product_serial` and `product_uuid` **does match**.

CC: @Sandee

[2018-02-02 22:28] BaluDontu commented on #373
Below, I have mentioned very detailed instructions with references to code blocks on this can be done.

1. Create a pod with dynamically created volume
   - Create a vsphere volume - https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/vsphere/vsphere_volume_master_restart.go#L88
   - Create a pod spec with the above created vSphere volume - https://github.com/kubernetes/kubernete

[2018-02-02 22:31] SandeepPissay commented on #450
As we discussed, let us use product_serial in the OS and use that for discovering the node. Since this always matches the VM's uuid in VC inventory, the discovery will be successful.

[2018-02-02 22:42] abrarshivani commented on #365
Assigning this to @tusharnt as @tusharnt mentioned that Venil will be working on this. [Here](https://github.com/vmware/kubernetes/tree/vmotion-tests ) is the branch where I have implemented some bits of the solution. Venil can build on top of this.

[2018-02-02 23:10] prashima commented on #313
Closing as per the discussion on kubernetes#53408

cc @BaluDontu

[2018-02-02 23:10] #313 closed

[2018-02-02 23:12] prashima commented on #300
cc @BaluDontu confirmed that branch manager for 1.7 denied request to add this big change as cherry pick.

[2018-02-02 23:12] #300 closed

[2018-02-02 23:23] prashima commented on #172
Works for 1.9, because of the node discovery logic. VCP operations won't work for version 1.8 and prior.

[2018-02-02 23:24] prashima commented on #152
@tusharnt to post the content

[2018-02-02 23:28] prashima commented on #74
@BaluDontu to comment and close this.

[2018-02-02 23:29] prashima commented on #67
Deprecated by Kubernetes https://kubernetes.io/docs/concepts/storage/persistent-volumes/#recycling. Closing as we won't be fixing for VCP.

[2018-02-02 23:29] #67 closed

[2018-02-02 23:31] prashima commented on #65
cc @BaluDontu
Closing this in absence of any communication from customer.

[2018-02-02 23:31] #65 closed

[2018-02-02 23:35] prashima commented on #255
Closing this epic. Moved remaining issues to general pool.

[2018-02-02 23:35] #255 closed

[2018-02-02 23:54] abrarshivani commented on #365
Since some bits of solution are already implmented updating new estimation as 4.
1. VM migration util function: 3 days
3. The tests tracked in this issue: 1 days

[2018-02-03 00:05] pshahzeb commented on #445
Closing it through above validation and documentation update through https://github.com/vmware/vsphere-storage-for-kubernetes/pull/23

[2018-02-03 00:05] #445 closed

[2018-02-06 03:29] divyenpatel commented on #208
Volume metrics support for vSphere Cloud Provider is added with PR: https://github.com/kubernetes/kubernetes/pull/59328

Closing this issue.

[2018-02-06 03:29] #208 closed

[2018-02-07 00:16] BaluDontu commented on #426
Kubeadm testing is successfully completed and all the instructions has been updated in our documentation site - https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/kubernetes-upgrade.html

PR to update the documentation to include upgrade instructions - https://github.com/vmware/vsphere-storage-for-kubernetes/pull/24

PR to generate the HTML for kubernetes upgrade instructions -

[2018-02-07 00:16] #426 closed

[2018-02-08 19:38] divyenpatel commented on #434
Internal PR out for review: https://github.com/vmware/kubernetes/pull/456

[2018-02-08 23:58] prashima commented on #450
This needs to be cherry-picked to 1.9.

[2018-02-12 17:28] #437 closed

[2018-02-12 18:08] #379 closed

[2018-02-12 23:42] BaluDontu opened #457 "Remove dead code from vSphere production code"
There are some instances of code which was added as part of PR - https://github.com/kubernetes/kubernetes/pull/57258 and needs to be removed as it is not longer required now.

1. Use of test configuration parsing in vsphere_util file - https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/vsphere/vsphere_util.go#L66.
2. Return node manager from vsphere cloud provider cod

[2018-02-14 16:03] divyenpatel commented on #434
PR Merged: https://github.com/kubernetes/kubernetes/pull/59761

[2018-02-14 16:03] #434 closed

[2018-02-14 23:05] divyenpatel commented on #447
https://github.com/kubernetes/kubernetes/pull/59440 is Merged on master. We need to cherry pick this change on 1.9 branch.

[2018-02-15 15:09] divyenpatel commented on #448
Official logo is updated on customer facing landing sites.

- https://vmware.github.io/hatchway/
- https://vmware.github.io/

[2018-02-15 15:09] #448 closed

[2018-02-15 17:31] divyenpatel commented on #339
This restriction is already implemented. Closing this issue.

https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/vsphere/vsphere.go#L1082

[code]

[2018-02-15 17:31] #339 closed

[2018-02-15 18:10] divyenpatel commented on #447
Cherry Pick PR for 1.9 branch - https://github.com/kubernetes/kubernetes/pull/59932

[2018-02-20 19:36] abrarshivani opened #458 "For VCP hostname should follow Kubernetes nodeName regex"
Kubernetes has the regex(```[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*```) for nodeName. Since VCP reports hostname as nodeName hostname on VCP configured Kubernetes nodes must have same restrictions.
**Note**:
Hostname restrictions must be documented in prerequisite for VCP.

Bug: https://github.com/kubernetes/kubernetes/issues/59801
Fix in K8s: https://github.com/kubernetes/

[2018-02-21 14:50] jsafrane commented on #302
Is there any way how to enable backups and keep the volume independent and safe from VM snapshots? It's quite natural that people want to backup their PVs.

[2018-02-21 20:44] JaredBurck commented on #302
We are using CommVault for backups and hitting this same issue.  Is there a workaround for being able to take snapshots of our PVs?  Any updates or suggestions would be much appreciated!

cc: @eraid6

[2018-02-22 18:13] venilnoronha opened #459 "Prepare a support matrix"
A matrix for supported versions of vCenter, VMX, Container OS and vSphere Storage needs to be created for Kubernetes v1.8.8 and Kubernetes v1.9.4.

[2018-02-24 14:26] divyenpatel commented on #447
Required fix is merged to K8S master and 1.9 branch. Closing this issue.

[2018-02-24 14:26] #447 closed

[2018-02-26 22:44] mbaquer6 opened #460 "Can't install on CoreOS 1632.3.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Hi,
I was trying to install on CoreOS 1632.3.0 but it fails because the regex can't deal with the "+" of the 1.8+ version.
I removed the script that checks the version to use the "tpr" or "crd" to use always "crd", the supported resource definition in Kubernetes 1.8 but it fails in phase 6:
**What you expected to happen**

[2018-02-27 22:45] abrarshivani commented on #450
Cherrypicked to 1.9 [here](https://github.com/kubernetes/kubernetes/pull/59602)

[2018-03-02 18:09] pshahzeb commented on #429
Failed with Kubernetes 1.8.5 with following log messages:
[code]

[2018-03-02 20:07] abrarshivani commented on #458
Add this here: https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/prerequisites.html

[2018-03-05 19:13] pshahzeb commented on #460
related to https://github.com/vmware/kubernetes/issues/429

[2018-03-05 19:22] pshahzeb commented on #429
Incorrect parsing on lines

https://github.com/vmware/kubernetes/blob/enable-vcp-uxi-crd/enable-vcp-image/enable-vcp-scripts/manager_pod.sh#L13

[2018-03-05 21:51] venilnoronha commented on #460
@mbaquer6 could you please post the exact versions of your `kubectl` and `kubelet`? You could use `kubectl version` and `kubelet --version` for the same.

[2018-03-05 21:55] venilnoronha commented on #429
I tried deploying the [enable-vcp-image](https://github.com/vmware/kubernetes/tree/enable-vcp-uxi-crd/enable-vcp-image) Docker image on Ubuntu 16.04 with Kubernetes 1.8.5 and tried executing the following snippet; however, it still prints the correct version i.e. without any `+`.

[code]

[2018-03-06 17:55] venilnoronha opened #462 "A / value for vSphere workDir causes kubeadm to fail"

[2018-03-07 00:23] pshahzeb opened #464 "Enhancing enable-vcp-ux scripts on kubernetes where components are containerized"
enable-vcp-ux scripts makes assumption that kubelet service is running as a service and hence updates the manifest files for api server, controller manager etc at location `/etc/kubernetes/manifests`

For deployments (eg: Rancher) where kubernetes components are containerized, there are no manifest location as `/etc/kubernetes/manifests`

This issue tracks the support to enable vcp on kubernetes c

[2018-03-10 19:38] dniel opened #465 "Missing documentation about if vCenter is a prerequisite to use the cloud provider?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Tried to follow the example code to create persistent storage using the the vSphere Cloud Provider on a standalone ESXi host but failed to get it working, then I tried to read the documentation about vSphere Cloud Provider to find out if vCenter is required, but cant find any information in the documentation if it is

[2018-03-12 20:35] abrarshivani commented on #465
@dniel Thanks for trying out vSphere Cloud Provider. We need vCenter for using vSphere Cloud Provider. Just wondering which documentation you looked at?
We have that documented here: https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/prerequisites.html

[2018-03-13 01:52] abrarshivani commented on #460
@mbaquer6 Can you please let us know whether you used kubeadm to configure your kubernetes cluster?
Also, can you check whether path "/etc/kubernetes/manifests/kube-apiserver.yaml" exists on master?

[2018-03-13 08:27] dniel commented on #465
@abrarshivani yes, the link you provided is the page I read. When reading the documentation, the code and configuration there are alot of references to vsphere and vcenter but could not find any clear advice that is wont work on a standalone esxi host.

When re-reading the prerequisite page, I now see the bullet point "vCenter user with required set of privileges." which could be interpreted to me

[2018-03-13 13:36] MQasimSarfraz opened #466 "Liveness probes for random pods fails on a node with vsphere volumes attach/deattach ops"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
I am running a stateful set with vsphere volumes. I am killing the pods randomly to test the volumes regression using:
[code]
and it turns out that liveness probes for other pods on same machines where vsphere volume deletion is happening starts failing for a few seconds, details:
[code]
**What you expected to happen**:
N

[2018-03-13 19:51] dniel opened #467 "Cloud provider didnt un-mount hard drive from Kubernetes VM after cleaning up pods, need to manually unmount it before able to use the same vmdk again to recreate the pod."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Im trying to figure out how the vsphere cloud provider should behave.  I have a working example of a pod that mounts a preexisting vmdk, the pod mounts it and I can go into the pod and create a file one the mounted path and no error messages in kubelet or controller logs so everything seems to work fine.
The ESX host moun

[2018-03-13 20:40] venilnoronha commented on #460
@mbaquer6 we tried to test the [enable-vcp-uxi](https://github.com/vmware/kubernetes/tree/enable-vcp-uxi#how-to-kick-off-auto-configuration) script end-to-end, and it worked fine.

Following is our setup:

- vSphere v6.5
- ESXi v6.5
- Master VM OS: CoreOS 1576.5.0
- Node VM OS: CoreOS 1576.5.0
- Kubernetes v1.9.4
- Kubeadm v1.9.4

Also, following is the output produced by `kubectl get VcpSummary -

[2018-03-13 21:01] mbaquer6 commented on #460
Thanks for all your responses
@venilnoronha I'm using Tectonic 1.8.4 using the CLI (Terraform), that installs Kuberentes 1.8.4, Container Linux by CoreOS stable (1632.3.0)
vSphere 6.0
I saw in the guides that the installation for the vsphere cloud provider on Kubernetes 1.9 is different from 1.8

Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.1", GitCommit:"3a1c9449a956b6026f0

[2018-03-13 21:04] mbaquer6 commented on #460
@abrarshivani I used Tectonic to configure the cluster.
/etc/kubernetes/manifests/kube-apiserver.yaml doesn't exists on the masters, there is just the pod checkpointer.json

[2018-03-14 17:43] venilnoronha commented on #362
Fixed via kubernetes/website#7661.

[2018-03-14 17:43] #362 closed

[2018-03-14 21:22] abrarshivani commented on #465
@dniel Thank you for the feedback. This is been fixed here https://github.com/vmware/vsphere-storage-for-kubernetes/pull/28

[2018-03-14 21:22] #465 closed

[2018-03-14 21:26] abrarshivani commented on #460
@mbaquer6 Where is your ```kube-api-server running config``` located?

[2018-03-14 21:29] mbaquer6 commented on #460
@abrarshivani I edit with kubectl edit daemonset kube-apiserver -n=kube-system

[2018-03-14 21:39] abrarshivani commented on #460
@mbaquer6 Can you please share checkpointer.json? Also, do you know where are kubernetes manifests located on master?

[2018-03-14 21:45] abrarshivani commented on #467
@dniel Can you please share kubelet and controller-manager logs after creating and deleting the pod?

[2018-03-14 23:18] abrarshivani commented on #450
Documentation PR and Cherrypick PR is merged. The fix is available in k8s v1.9.4

[2018-03-14 23:18] #450 closed

[2018-03-17 11:58] dniel commented on #467
From the controller-manager logs.
Create pod
[code]

Delete the pod
[code]

In vCenter, the VMDK is still mounted to the Kubernetes VM.
Re-create the pod again
[code]

[2018-03-17 12:03] dniel commented on #467
Event log from kubernetes when failed to mount hard drive, beacuse the vmdk was already mounted to the Kubernetes Node VM.
[code]

Event log from kubernetes the vmdk when successfull mount.
[code]

[2018-03-17 12:05] dniel commented on #467
The kubelet logs does not contain any usefull errors, just a unrelated repeating message like this
[code]

[2018-03-17 12:07] dniel commented on #467
My cloud_config is looking like this.
[code]

[2018-03-18 19:25] dniel commented on #467
the pod config looks like this:
[code]

The volume claim
[code]

The volume
[code]

[2018-03-20 23:52] venilnoronha commented on #467
@dniel we tried to reproduce this issue on our end and we found that it happens only when the space between the datastore and the volume (in `volumePath`) is omitted. Could you please try with the following volume configuration?

[code]

[2018-03-21 17:52] dniel commented on #467
@venilnoronha perfect! I removed the space in the volumePath and it fixed the problem! Thanx!

[2018-03-21 18:55] venilnoronha commented on #467
@dniel thanks for trying that out. Can we close this issue now?

[2018-03-28 06:25] shenxg13 opened #469 "K8s delete the node when I shutdown the vm?"
**What happened**:
k8s delete the node when I shutdown the vm and rejoin the node when vm restart, but the  node label no longer there.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
[root@k8s-192-168-0-52-kube01 mongodb]# kubectl get node --show-labels
NAME                      STATUS    ROLES     AGE

[2018-04-10 19:45] Joeskyyy opened #471 "Cannot use DatastoreClusters With PVC Successfully"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

I'm having issues using datastore clusters for dynamic PVCs on vSphere for our kubernetes clusters based on this documentation: https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/storageclass.html

We have a few datastore clusters that I’d like to allocate individual Storage Classes for (one is SSD, one

[2018-04-10 23:25] divyenpatel opened #472 "testCleanupVSpherePersistentVolumeReclaim() is failing to delete vmdk"
Test is failing to delete VMDK on Kubernetes release 1.9

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/vsphere/pv_reclaimpolicy.go

Failure message
[code]

Failure is in the cleanup. After deleting Pod, we are deleting disk. We get error while deleting vmdk. Probably disk is still attached. I guess we should modify the test to wait enough to allow detaching disk once pod i

[2018-04-11 02:25] #373 closed

[2018-04-11 06:24] sidharthswami opened #473 "Pointing K8 cluster to vSphere Storage Cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
IHAC who is starting up with Kubernetes running on vSphere. They have a concerns as while configuring K8 cluster user need to specify the datastore manually for every deployment. As the environment grows if later at any point they need to re-point it to a different datastore then how this will happen? Also is there any possibility o

[2018-04-11 20:27] weand commented on #168
@divyenpatel
It seems that expanding volumnes was implemented in 1.9 for various backend.
[https://kubernetes.io/docs/concepts/storage/persistent-volumes/#expanding-persistent-volumes-claims](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#expanding-persistent-volumes-claims)

Any idea if vsphere backend will also be capable to provide that feature in the near future.

[2018-04-11 22:28] shaominchen commented on #168
@weand For now the PV resize feature is still in alpha. We plan to support it when it moves to beta in Kubernetes. As of now, the workaround is to call vSphere API to resize the created volumes (virtual disks): https://github.com/vmware/pyvmomi/issues/119

[2018-04-12 20:09] corrieb commented on #302
Independent Persistent is necessary for the reasons highlighted above. You don't want the lifecycle of a PV tied to the lifecycle of the node. You particularly don't want the risk of a PV being deleted if a node is decommissioned. vSphere Integrated Containers uses the same VMDK mechanisms and I wrote some public documentation on the topic which may be of help here.

Top-level topic: https://vmwar

[2018-04-13 16:16] bradbeam opened #474 "Unable to detach volume after upgrade from 1.8.2 to 1.9.6"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug Report

/kind bug

**What happened**:
After upgrading our cluster from 1.8.2 to 1.9.6, persistent volumes via vsphere are no longer getting detached.

**What you expected to happen**:
Persistent volumes should get detached properly

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a cluster on 1.8.2
Deploy an app w/ persiste

[2018-04-16 22:50] prashima commented on #474
@abrarshivani as we discussed offline, this breaking upgrade needs to be documented. I am assigning this issue to you as well, to help with proper documentation.

[2018-04-17 08:42] sidharthswami commented on #473
Hi Everyone,
Has anyone tested this scenario in their environment? Looking out for help from community

[2018-04-18 08:01] Aestel opened #475 "node_vms_folder value seems to be handled differently between vcp-manager and vcp-daementset"
Set node_vms_folder in the vcp_secret.yaml to '/Development_VMs/Kubernetes'
The VMs working folder starts out as: /SCT/vm/Development_VMs/
When the vcp-manager pod runs it creates the vms folder relative to /SCT/vm/
Creating: /SCT/vm/Development_VMs/Kubernetes

When the daemonset runs it fails with:

[code]
I connect to the pod to try the govc command given above and get as expected:
govc: folder

[2018-04-18 17:31] Aestel opened #476 "PersistenceVolumeClaim stuck in Pending state dispite disk having been created in vCenter."
I've setup vSphere Cloud Provider in an existing Kubernetes cluster running on vSphere 6.5

I'm now trying to setup a dynamically assigned persistence volume claim following the examples.

However the persistence volume claim remains in status Pending.

I can see within vCenter that it has created the 2GB virtual disk but have been unable to find any indication on where it is stuck. The persistenc

[2018-04-18 17:37] Aestel commented on #475
I worked around this issue by setting the value to '/Development_VMs/Kubernetes' when initially creating the vcp-manager pod. Letting the daemon sets fail. Changing the value to '/SCT/vm/Development_VMs/Kubernetes' and reapplying the secret. Then deleting the vcp-daementset pods.

[2018-04-20 22:51] abrarshivani commented on #476
@Aestel Can you please give the output for ```kubectl version```?

[2018-04-21 08:34] Aestel commented on #476
kubectl version is 1.9.6

[2018-04-21 08:45] Aestel commented on #476
It may or may not be relevant, but when creating Persistent Volumes statically, using VSphereVolumes, we had an issue with the disk not being Detached from the host when a pod got deleted. This occurred when the volumePath in the Persistent Volumes claim did not include the .vmdk extensions. The kube control manager pod logs showed that it hadn't tried to detach the volume because the volume had a

[2018-04-23 21:31] Joeskyyy commented on #203
+1 !

[2018-04-24 15:47] jsafrane commented on #302
@corrieb (or anyone), can you please update Kubernetes docs to have this information?

[2018-04-24 22:10] corrieb commented on #302
I can take a stab at summarizing what I wrote in the other docs. @jsafrane Do you have a sense of where it should go?

[2018-04-25 09:26] jsafrane commented on #302
IMO, You should update https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/ - Kubernetes links it from https://kubernetes.io/docs/setup/pick-right-solution/

And then you can just link it from:

* https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/
* https://kubernetes.io/docs/concepts/storage/volumes/#vspherevolume
* and maybe https://kubernetes.io/docs/c

[2018-04-25 11:13] embano1 opened #479 "Improve VCP Documentation for different Kubernetes versions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Improve VCP documentation (https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/index.html).

**What you expected to happen**:
As discussed with @divyenpatel

- Separate tables/pages for Kubernetes version (clarity)
- Document how VCP needs to be configured in Kubernetes v1.9
  - Only master(s) need(s) vs

[2018-04-25 15:42] kincl commented on #474
We are seeing this on RHEL 7.4, I am confused by the current status of this bug, can we get an update? Thanks!

[2018-04-25 22:08] pgagnon commented on #476
@abrarshivani
I'd like to +1 as I am experiencing the same issue. I got it to work a few times unreliably but now I am unable to get a volume provisioned dynamically.

PVC is stuck in Pending state and no PV is being created, however an underlying volume appears in the datastore.

There is nothing related in the kube-controller-manager logs, and these are the only vsphere.go related entries that a

[2018-04-26 08:28] dniel commented on #467
@venilnoronha please close this issue, thanx for the help.

[2018-04-26 08:28] #467 closed

[2018-04-26 11:31] pgagnon commented on #476
@divyenpatel How can I get this tagged customer?

[2018-04-26 11:47] pgagnon commented on #476
@abrarshivani I got some logs by setting kube-controller-manager verbosity to 9. Please let me know how to provide them to you. Thanks.

[2018-04-26 17:33] dougm commented on #317
Opened an issue to consider alternatives, such as SAML token authentication: https://github.com/kubernetes/kubernetes/issues/63209

There are still details to be worked out, but support for token auth is near complete in govmomi.

[2018-04-26 22:26] s0komma opened #480 "setup of vsphere-storage-for-kubernetes fails with controller-manager crashing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Trying to use vsphere datastore for k8s persistent storage, i have followed every thing listed in https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/existing.html, steps listed under manual steps.  But after doing all the steps, the controller-manager keeps crashing with below error
`Apr 26 22:07:09 XX

[2018-04-26 22:53] divyenpatel commented on #480
@s0komma
From the message, looks like kube-controller-manager pod can not open `/etc/kubernetes/cloud-config/vsphere.conf` file.

Can you mount `/etc/kubernetes/cloud-config` on the controller-manager pod?

[2018-04-26 23:00] s0komma commented on #480
Thank you @divyenpatel for pointing in right direction.. its working now.. Thank you ..

[2018-04-26 23:00] #480 closed

[2018-04-26 23:58] alesz commented on #479
Followed improved documentation for deployment of k8s 1.9, having trouble understanding datacenters variable in case of whitespace in the name. Example expected vsphere.conf:
[code]

[2018-04-27 08:13] embano1 commented on #479
@alesz whitespaces should be handled correctly, e.g. here's the code for v1.9 VCP:

[code]
https://github.com/kubernetes/kubernetes/blob/release-1.9/pkg/cloudprovider/providers/vsphere/nodemanager.go#L135

[2018-04-27 18:40] pgagnon commented on #476
@Aestel In my case it turns out that this was a permissions issue. The account used on vmware did not have System.Read System.View and System.Anonymous on the vCenter object. I figured it out by trying datastore.disk.create with govc debug=1.

@abrarshivani The error messages are very obtuse/nonexistant with regards to this issue, which makes diagnosis very difficult. Perhaps the documentation or

[2018-04-30 07:07] Aestel commented on #476
@pgagnon Thanks for the pointer. I suspect it could be something similar in my case. Unfortunately in my case the vCenter is being managed by a 3rd party company and I don't have direct access to confirm if permissions are set correctly or to make any changes.

[2018-04-30 12:43] pgagnon commented on #476
@Aestel I am in the same boat with vmware resources being managed by another department. You can nevertheless confirm the issue with the [govc](https://github.com/vmware/govmomi/tree/master/govc) command line utility with the debug flag on, using the datastore.disk.create command. It will save detailed logs of the calls to the vCenter api.

In my case at some point I saw NoPermission returned by t

[2018-04-30 22:12] s0komma opened #481 "unable to create dynamic pvc using storage class"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: After following all the manual steps listed in document, while trying to create volume using storage class getting below error in controller-manage. tried updating the vsphere.conf file to use IP and hostname, but had same result
`Apr 30 21:00:56 XXXXX-master-k8-01 kube-system_kube-controller-manager-xxxxx-master-k8-01[14

[2018-04-30 22:54] divyenpatel commented on #481
provided sample vsphere.conf file to @s0komma

[2018-05-01 00:00] divyenpatel commented on #481
@s0komma does not have read role set on the user specified in the vsphere.conf file.

Please refer.
https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/vcp-roles.html#minimal-set-of-vsphere-rolesprivileges-required-for-dynamic-persistent-volume-provisioning-with-storage-policy-based-volume-placement

[2018-05-01 23:32] s0komma commented on #481
updated the permission to make sure that user has Propagate to Children is set to true at least for Read-only role — beginning from vcenter level. Also updated the new vsphere.conf file
`[Global]
user = "Administrator1@vsphere.local"
password = "****"
port = "443"insecure-flag = "1"
datacenters = "DCname"
[VirtualCenter "IP/FQDN"]
[Workspace]
server = "IP/FQDN"
datacenter = "DC"
default-datastore=

[2018-05-01 23:33] #481 closed

[2018-05-02 13:42] bradbeam commented on #474
The errors were seen on an upgrade. Not on a fresh install.

Steps 1/2/3/5 are correct. Step 4 was not done -- the node was not drained.

Detach is failing after step 5.

[2018-05-03 08:45] Aestel commented on #476
@pgagnon Found some time to test it - the govc datastore.disk.create command hangs without providing any output. If I cancel the command I can see the disk has been created using datastore.ls
Command run to create the disk:
[code]
Trying to remove the disk using govc datastore.rm also hangs. Cancelling the command and doing datastore.ls shows the disk has been removed.

[2018-05-03 13:09] pgagnon commented on #476
@abrarshivani Apologies, I have misplaced the logs and I cannot recreate the issue as I do not have a testing vCenter available, but perhaps @Aestel could provide some?
@Aestel This looks exactly like the issue I was having. At this point it would be helpful if you could post the content of ~/.govmomi/debug. Otherwise ask your vCenter operator to double-check if they have granted Read-Only permiss

[2018-05-03 19:10] boeyeb opened #483 "kubelet.service: Main process exited, code=exited after"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Sample vsphere.conf

[Global]
        user = "********"
        password = "********"
        port = "443"
        insecure-flag = "1"
        datacenters = "******** - ********"

[Workspace]
        server = "********"
        datacenter = "********
        folder = "ctk8s"
        default-datastore = "********"
        resourcepoo

[2018-05-05 22:48] abrarshivani commented on #474
@bradbeam This is known issue and has been fixed in v1.10.2.
Here are the issues:
1. https://github.com/kubernetes/kubernetes/issues/61707
2. https://github.com/kubernetes/kubernetes/issues/62435

[2018-05-05 22:53] abrarshivani commented on #483
@boeyeb Global.WorkingDir is missing in vsphere.conf file.
Following is the right format for provided conf file:
[code]

[2018-05-05 23:10] abrarshivani commented on #476
Thanks, @pgagnon for reporting this. We will improve logging in vSphere Cloud Provider.
@Aestel Can you share the logs?

[2018-05-06 20:01] pgagnon commented on #476
@abrarshivani I think I found the logs. I'll get them to you via slack.

[2018-05-07 00:53] abrarshivani commented on #476
Thanks, @pgagnon.

[2018-05-08 08:08] boeyeb commented on #483
Hi Abrar,

Doesn't work.
new error

May 08 08:07:46 ctk8s-master kubelet[18683]: F0508 08:07:46.695430   18683 server.go:233] failed to run Kubelet: could not init cloud provider "vsphere": 9:16: empty subsection name

Thx

[2018-05-08 21:59] abrarshivani commented on #483
@boeyeb This error has occurred because server ip is missing in conf file.
[code]

[2018-05-15 13:13] dkirrane opened #485 "Kubernetes 1.10.2 Nodes marked NotReady when VCP is installed"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:
I created a cluster with kubeadm `1.10.2` ( 1 master & 3 worker nodes)
`kubectl get nodes` show nodes marked as `Ready`

I then installed  VCP with as [per instructions](https://github.com/vmware/kubernetes/blob/enable-vcp-uxi/README.md)

**What you expected to happen**:
Some Nodes become `NotReady`

[code]

Bu

[2018-05-15 14:33] divyenpatel commented on #485
@dkirrane Can you check if kubelet is up and running on `minion1-prod` and `minion3-prod`.
After configuring nodes for vSphere Cloud Provider, script restart kubelet on nodes.

See
https://github.com/vmware/kubernetes/blob/enable-vcp-uxi/enable-vcp-image/enable-vcp-scripts/daemonset_pod.sh#L375

Following script is getting executed in the last phase of configuration.
[code]

Can you share log of d

[2018-05-17 14:33] dkirrane commented on #485
ok i've tried to recreate cluster again with vcp. Now I'm hitting ImageInspectError on `cnastorage/enablevcp:v2`

[code]

[2018-05-18 03:03] jerryhwang72 opened #486 "PersistenceVolumeClaim takes a few min per statefulset despite disk having been created in vCenter"
/kind bug

**What happened**:

When we deploy a stateful set that does PVC for each POD, it takes 3+ minutes for each POD to be in _Running_ state.  We can see the VMDK get created immediately and PV/PVC bind is quick too, but there is a long delay before the disk gets attached to the VM.  As a result, we're waiting 15 minutes or more for StatefulSet with 5 replicas to come online.
This issue happ

[2018-05-28 14:01] sreber84 commented on #304
Would it be possible to move the `[Workspace]` stanza into `[VirtualCenter]` stanza to configure a workspace for each vCenter? If that would be possible, it would be nice to have the ability and reference that part within a `StorageClass` so that the user can decide where the storage shall be provisioned.

[2018-05-29 21:09] abrarshivani commented on #474
@bradbeam Can we close this issue now?

[2018-05-29 21:10] abrarshivani commented on #483
@boeyeb Can we close this issue now?

[2018-05-30 04:39] bradbeam commented on #474
Yeah, we haven't been able to do any more testing on it; will reopen if we find anything else. Thanks.

[2018-05-30 04:39] #474 closed

[2018-05-30 04:57] #483 closed

[2018-06-01 11:29] jsafrane commented on #476
One of our customer hit the same issue as reported above, they had wrong permissions in their cluster. IMO, the provisioner (or vSphere itself?) should report an error in some reasonable time instead of being blocked forever. It's trivial to add a timeout to vSphere provisioning code here:

https://github.com/kubernetes/kubernetes/blob/0ea07c40305afa845bc34eb6a73da960552c39b1/pkg/cloudprovider/pro

[2018-06-07 09:17] embano1 commented on #485
@dkirrane IIRC we also discussed this on Slack and your finding was that a recreate of the cluster/VM resolved the issue (just can't find the chat anymore, too many Slack channels).

Could you please confirm?

[2018-06-07 09:21] embano1 commented on #469
Just to clarify, the node has to rejoin the cluster, i.e. the node object in K8s API is deleted and a new one is created in your case?

Just rebooting a worker VM should not cause this behaviour.

[2018-06-07 12:58] mkretzer opened #488 "Non independent disk with vSphere Storage for Kubernetes"
Hello,

we need Non independent disks mapped with vSphere Storage for Kubernetes. Right now when we map a volume claim to a pod a independed disk gets created.

This means we cannot backup this disk with Veeam.

Since we create pods not on a daily basis our pods remain quite static for a long time and we can afford to loose incremental backup when re-schedulung happens.

How can we implement this?

[2018-06-07 19:20] s0komma commented on #317
we would love to have this feature that way we can pass them in more secured fashion

[2018-06-07 19:35] s0komma opened #489 "Documentation for encrypt vCenter username/password Credentials or using SAML token authentication"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:  would like to understand if vSphere Cloud Provider: add SAML token authentication support is something that can be used now. Previous issue is below https://github.com/vmware/kubernetes/issues/481

would like to see whats the best way to encrypt vCenter username/password Credentials in cloud-config file. if so would like to pointed

[2018-06-08 08:05] embano1 commented on #488
Hi Markus,

This is a known limitation currently, see here https://github.com/vmware/kubernetes/issues/302. There's several approaches (workarounds) how to tackle that currently and in the future. But as of today, traditional backup solutions won't work in Kubernetes environments.

cc @tusharnt and storage engineering here.

Please also feel free to reach out to SIG VMware on Slack (https://github

[2018-06-08 16:52] dkirrane commented on #485
@embano1 I resolved the ImageInspectError by using devicemapper instead of overlay2 storage driver in Docker.
However, I couldn't get VCP working with enable-vcp-uxi, even after reboot.
I switched back to manually setting the flags etc in kubeadm, apiserver and controller manager. This works

[2018-06-09 18:29] embano1 commented on #485
Thx, is it ok to close this issue then?

[2018-06-11 18:31] figo opened #490 "kubelet fail to init vsphere cloud provider, can't store data at section "Global", variable "default-datastore""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

journalctl log:
[code]

here is the `vsphere.conf`
[code]

based on doc:
https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/existing.html

those variables are supported since i am using k8s 1.10

**What you expected to happen**:

vSphere cloud provider been initialized.

**How to reproduce it (as minimally and pr

[2018-06-11 18:36] divyenpatel commented on #490
@figo

For 1.10 Can you use following format for vsphere.conf file?

[code]

[2018-06-11 19:00] figo commented on #490
@divyenpatel  i found the following config works fine. cloud provider initialized.

[code]

basically using the v1.8 variables based on the doc, is there anything to be worried here?

[2018-06-11 21:40] abrarshivani commented on #317
@s0komma This feature is added in PR: https://github.com/kubernetes/kubernetes/pull/63824.
Closing this issue, since PR is merged.

[2018-06-11 21:49] #317 closed

[2018-06-11 22:08] abrarshivani opened #491 "vSphere Cloud Provider documentation update preferred method"
1. Remove preferred method to configure vSphere Cloud Provider as ux script since it is not being tested against different k8s version.
2. Add steps needs to be executed after modifying vSphere Cloud Provider documentation. (That is steps to generate/update html pages)

[2018-06-12 04:15] dougm commented on #489
I'll expand on this and submit a PR to the official docs, in the meantime here are the basic steps required:

## SAML token authentication

As of Kubernetes release 1.11, the vSphere Cloud Provider includes support for SAML token authentication using the vCenter [SSO API](https://code.vmware.com/apis/34/vcenter-sso).
Currently, VCP only issues Holder-of-Key tokens which requires a vCenter Solution

[2018-06-12 17:48] s0komma opened #492 "PV mount failed for 1.10.2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: After setting up the cloud-provider, we are able to see the PV's getting cerated and we are able to see the disk in `lsblk`. But the disk is not getting mounted in pod

https://github.com/vmware/kubernetes/issues/481

[code]

[2018-06-12 20:29] s0komma commented on #492
on worker nodes kubelet logs
[code]

[2018-06-12 20:30] s0komma commented on #492
controller logs

[code]

[2018-06-12 20:30] s0komma commented on #492
events of pod
[code]

[2018-06-13 03:51] s0komma commented on #492
tried on 1.9.8 as still same
below is what i see on worker node
[code]

[2018-06-14 18:12] mkretzer commented on #488
Can someone explain why non-independent disk is not even an option? We have an application which does not host that much data and where pods are not rescheduled/created often. Even if with every backup our backup soulution would have to re-read all data that would be fine for us.

[2018-06-15 15:52] s0komma commented on #489
@dougm Thank you very much for details. So if i understand right, i must go ahead and create a solution user then do the openssl to create certs, which can be used for all datacenters with in a vcenter. Also is there any special privileges required for a solution user as mentioned in below document  https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/vcp-roles.html#minimal-set-of

[2018-06-15 16:41] dougm commented on #489
@s0komma added a section on roles.

[2018-06-15 17:11] s0komma commented on #489
Thank you very much

[2018-06-17 08:09] embano1 commented on #488
@mkretzer Due to the way independent disks are currently handled in vSphere, all major backup providers do not support taking backups of independent disks, mainly due to missing snapshot support IIRC.

Currently you have to work around that until the in v6.5 [introduced](https://pubs.vmware.com/vsphere-6-5/index.jsp?topic=%2Fcom.vmware.vddk.pg.doc%2FvddkTasks.8.8.html) `vSphere first class disk (F

[2018-06-17 11:08] mkretzer commented on #488
That was not the question. Why is it not possible to attach the disk non-independent? That would be the best workaround. Sure, it would have downsides as well (for example CBT will not work after re-attachment) but it would be woth it!

[2018-06-18 13:36] dkirrane commented on #485
@embano1 sure

[2018-06-18 13:36] #485 closed

[2018-06-18 17:30] shaominchen commented on #473
@sidharthswami This is a known issue also tracked by #471 and #203. This feature may not be implememted in the near future due to our current tight schedule. @tusharnt

[2018-06-18 23:14] abrarshivani commented on #492
@s0komma Is disk.EnableUUID parameter is set for VMs?

[2018-06-18 23:16] s0komma commented on #492
yes it is

[2018-06-18 23:53] abrarshivani commented on #492
@s0komma Can you provide kubelet log with high verbosity for node where the pod having vSphere volume is scheduled?

[2018-06-19 15:57] espigle commented on #475
I want to indicate that I as well have observed the same behavior, and the same workaround seems to work as well. It's cumbersome to work through, but is possible to get through this phase with this workaround.

[2018-06-26 18:07] shay-berman commented on #388
Hello

Per this closed ticket I understand the PKS supports VVOL.  the PKS uses the "vSphere Cloud Provider" to provision storage inside PKS k8s cluster.

I have few questions about this verification and what does it mean for PKS support for VVOL:
1. Do we as storage vendor need to test VVOL with our backend storage together with vSphere Cloud Provider?  Of this ticket that verify it is enough? is

[2018-06-27 00:21] divyenpatel commented on #446
Pull Request : https://github.com/kubernetes/kubernetes/pull/65508

[2018-06-27 01:34] mansi-a opened #493 "Fix locating resporce-pool specified in the vsphere.conf file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
We need to use `resourcepool-path` when we use SPBM policies with dynamic provisioning in vSphere Cloud Provider or the PVC provisioning fails with error
`Warning  ProvisioningFailed  3m (x61 over 18m)  persistentvolume-controller  Failed to provision volume with StorageClass "xxx": default compute resource resolves to multiple inst

[2018-06-27 17:10] #446 closed

[2018-06-27 19:15] mcowger commented on #304
As an FYI - I have a (large, paying) customer choosing an alternative storage stack specifically because of this issue.

[2018-06-29 08:41] spawnia commented on #464
Just ran into this issue. Can you give me some pointers towards what i have to do differently to use VCP with a RKE cluster deployed through Rancher?

[2018-06-30 00:33] pgagnon opened #494 "Nodes configured with VCP are failing to update their status on v1.11.0"
/kind bug

**What happened**:

After upgrading to v1.11.0 with kubeadm following [these instructions](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-11/), nodes configured with VCP are failing to update their status, causing them to become NotReady, unless --node-ip is explicitely specified.

**What you expected to happen**:

Nodes becoming Ready.

**How to reproduce

[2018-07-03 13:03] ventris opened #495 "Unable to provision PVC with VCP on v1.11.0"
/kind bug

**What happened**:
After setting up the storage provider and storage class, creating a claim results in errors on the controller and the pvc is stuck in status pending.

Errors in Controller manager log:
[code]

storageclass and persistentvolume yamls
[code]

[code]

**What you expected to happen**:
Able to successfully create dynamic claims.

**How to reproduce it (as minimally and pre

[2018-07-03 17:37] divyenpatel commented on #495
@ventris Can you check `providerID` is correctly set on nodes with its `systemUUID`.

[code]

[2018-07-04 05:13] #492 closed

[2018-07-04 05:14] s0komma commented on #492
its an issue kubelet config, this has been fixed

[2018-07-04 05:45] ventris commented on #495
@divyenpatel None of the servers have providerID set.

There is an UUID but no providerID
[code]

listing the product_serial gives.
[code]

[2018-07-04 09:14] ventris commented on #495
After inserting the provisionerID as a flag to the kubelet on all nodes.
[code]
After that you can successfully create persistentvolumes

It seems that on CentOS/RHEL you have to supply the --provider-id to the kubelet environment config as the kubelet wont find it by itself. Might be a bug in kublet itself.

[2018-07-05 14:20] sanjeevshar commented on #325
Please pardon my ignorance as I am new to Pivotal PKS and roles and permissions in Vsphere.
I am having trouble creating static and dunamic PVs.
As mentioned in documentation https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/vcp-roles.html, I created roles manage-k8s-node-vms and manage-k8s-volumes.
My questions are:
1. Do I create two new users and assign one role to each?
2.

[2018-07-05 17:49] s0komma opened #496 "Kubelet unable to mount PV in to the pod - FailedMount"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**: After creating PV and claiming the PV, we can see that the volume is cerated and attached to the worker node where is pod is spun up, we are able to see the disk mount on to the server but kubelet is unable to attach the disk to the pod

**What you expected to happen**: POD to come up and PV be attached

**How to reprodu

[2018-07-05 17:49] s0komma commented on #496
POD events
[code]

[2018-07-05 17:50] s0komma commented on #496
work node lsblk
[code]

[2018-07-05 17:51] s0komma commented on #496
pvc details
[code]

[2018-07-05 17:59] s0komma commented on #496
worker node kubelet logs keep showing below things in a loop

[code]

[2018-07-05 20:29] s0komma commented on #496
[controller-log.zip](https://github.com/vmware/kubernetes/files/2168125/controller-log.zip)

[2018-07-06 04:41] s0komma commented on #496
kubelet config

[code]

[2018-07-06 04:44] s0komma commented on #496
[code]

[2018-07-09 11:09] phozzy opened #497 "Unable to add vmware support to a cluster povisioned by kubespray"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
After installing kubernetes cluster with kubespray I have manifests files with *.mainfest extension. That leads to
https://github.com/vmware/kubernetes/blob/f50f340267a7fab8e2a959958c717868b7e4162f/enable-vcp-image/enable-vcp-scripts/daemonset_pod.sh#L186
https://github.com/vmware/kubernetes/blob/f50f340267a7fab8e2a95995

[2018-07-10 11:53] jd485057 commented on #489
Where do I place the certs for vSphere Cloud Provider? is it in the `vsphere.conf` on the master node? i.e.
[code]

Is there an option to use a Kubernetes Secret for the vSphere username/password?

[2018-07-10 14:00] MQasimSarfraz commented on #479
:+1:

Also do we need `vsphere.conf` on worker nodes for > 1.9 ?

[2018-07-11 08:16] embano1 commented on #479
@MQasimSarfraz just the `--cloud-provider` flag for kubelet.

[2018-07-11 09:06] MQasimSarfraz commented on #479
Thanks @embano1. Some installers e.g kubespray are still putting them on worker nodes. So needs to be updated.

[2018-07-12 17:51] s0komma commented on #489
@jd485057 the steps to use secrets are listed here
  https://github.com/kubernetes/kubernetes/pull/63902 &  https://github.com/vmware/kubernetes/pull/484

[2018-07-12 17:51] #489 closed

[2018-07-12 21:07] divyenpatel commented on #493
We have a bug here. See the following code.

https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/vsphere/vclib/datacenter.go#L158:23

Call trace.
func (vs *VSphere) CreateVolume(volumeOptions *vclib.VolumeOptions) (canonicalVolumePath string, err error)
    vmOptions, err = vs.setVMOptions(ctx, dc, vs.cfg.Workspace.ResourcePoolPath)
      resourcePool, err := dc.GetRes

[2018-07-13 17:52] SandeepPissay opened #498 "Add support for specifying morefs in vsphere.conf"
The current vsphere.conf file accepts names of virtual center inventory objects like datacenter, default datastore, folder etc. Even though these are user friendly, they are not as durable as moref IDs. The names of these inventory objects can be easily changed in vSphere client and when that happens this will break vsphere cloud provider.

So, I'm filing this issue to track the work involved to a

[2018-07-16 17:13] SandeepPissay commented on #498
We should also handle the cases where we have multiple virtual center inventory objects with same name under the same datacenter. Example - we could have a cluster "cluster-1" under folder-1 and folder-2.

[2018-07-17 21:49] divyenpatel commented on #497
@phozzy `kubespray` support enabling vSphere Cloud Provider during deployment.

you need to edit `kubespray/inventory/group_vars/all.yml` and set following parameters

[code]

This does not support multi vc/datacenter deployment, but basic single vc/datacenter setup should work fine with this.

[2018-07-17 22:31] divyenpatel commented on #493
Closing this issue. PR merged to master branch. I will cherry pick this change to other release branches.

[2018-07-17 22:31] #493 closed

[2018-07-18 10:07] cormachogan opened #499 "Failed to provision volume with StorageClass "thin-disk": folder XXX not found"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Testing out persistent volumes with PKS, I hit the following error.

root@pks-cli:~# cat cormac-sc.yaml
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: thin-disk
provisioner: kubernetes.io/vsphere-volume
parameters:
  diskformat: thin
  storagePolicyName: RAID-5
  datastore: vsanDatastore

root@pks-cli

[2018-07-19 08:16] cormachogan commented on #499
Ah - that explains it. Thanks @divyenpatel

Could we add this detail to the VCP example - https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/policy-based-mgmt.html

The current note about the ‘vsphere’ cloudprovider configuration is not very clear.

[2018-07-19 13:13] embano1 commented on #491
Double post? https://github.com/vmware/kubernetes/issues/479

[2018-07-19 14:18] divyenpatel commented on #499
@cormachogan you can find location of the `vsphere.conf` file from the controller-manager or API server's manifest files on the master node, and in kubelet config file.

look for `--cloud-config` parameter in above files.

[2018-07-20 06:26] dgabrysch opened #500 "Attaching and deleting volumes seems fuzzy"
/kind bug

**What happened**:

Using vsphere as cloud provider,  we created a storageclass and use PersistenVolumeClaims.

VMDKs get created and attached to machines - but when a pod dies, it takes like 5-15 minutes to attach the disk to another VM. The k8s API - or the volume plugin tries to attach a disk when it is still attached to another machine, same for deletion: The volume plugin tries to

[2018-07-29 12:15] mkretzer commented on #302
When will this refactoring be done? Will the plugin still be compatible with VSphere < 6.7 then?

[2018-07-29 21:17] #361 closed

[2018-07-30 19:54] SandeepPissay commented on #302
@mkretzer : We are working on it and the plan is to get it out by end of this year. In terms of volume provisioning APIs in k8s, the plugin will be compatible with vSphere <= 6.7

[2018-07-31 13:47] frapposelli commented on #500
/sig vmware
/assign @divyenpatel
PTAL

[2018-08-02 14:35] divyenpatel commented on #500
@dgabrysch

When Pod is deleted, we should not see disk deletion attempts in VC tasks. Disk should be detached and re-attached to another node, if new pod is provisioned on different node vm.

If pod is in the running state, and we delete the PVC, then this is expected. Kubernetes will keep re-trying deleting PV, but since PV is already attached to the node vm and is in use, disk can not be delete

[2018-08-02 14:36] divyenpatel commented on #499
Issue is resolved.

[2018-08-02 14:36] #499 closed

[2018-08-02 14:52] dgabrysch commented on #500
Hi @divyenpatel,

of course I can :)

So, this is my example pod:
---
kind: Deployment
apiVersion: apps/v1beta2
metadata:
  labels:
    k8s-app: nfs-server-for-testpods
  name: nfs-server-for-testpods
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      k8s-app: nfs-server-for-testpods
  template:
    metadata:
      labels:
        k8s-app: nfs-server-for-testpods

[2018-08-03 16:46] divyenpatel commented on #500
Is this disk already attached to some other VM, which is powered on?

Based on the error message: `Failed to add disk scsiX:Y.` Looks like error is - https://kb.vmware.com/s/article/2001217

[2018-08-03 21:46] dgabrysch commented on #500
@divyenpatel - sure, but isn’t that the point? I mean a pod breaks, gets rescheduled, then the disk should be reattached, the bug you mentioned in the KB is happening, but shouldn’t it work with the VSphere storage provider code like this?

We checked this with a colleague, actually it looks like the k8s api is making calls to vsphere to reattach a disk, but the disk is still in use because it has

[2018-08-06 09:58] GajaHebbar opened #501 "Unable to start kubelet after adding vsphere.conf file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I am trying configure/use vmware datastore to use it as volume(create static vmdk and/or create volume dynamically as per https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/policy-based-mgmt.html

and when I follow
https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/existing.html

to

[2018-08-17 12:25] embano1 commented on #501
Can you please try to also deploy vsphere.conf on the workers and add `--cloud-config=` parameter? We run into the same issue and even though it's documented that the conf is not needed on the workers, it seems to break the kubelet.

[2018-08-21 15:40] nikopen commented on #500
@frapposelli @divyenpatel we're also hitting this in prod.

1. pod X with attached volume X lives in node X
2. pod X dies and is re-scheduled to another node Y
3. volume X is stuck in node X and cannot be re-scheduled to node Y for 5-15 minutes

What should happen is:
1. Kubernetes (vsphere cloud controller?) detecting the re-scheduling of a pod with a volume that needs to go to another node
2. sp

[2018-08-21 19:39] dgabrysch commented on #500
I don’t know if I mentioned that, but we also wait like 10-15 minutes until a pod finally gets its disk

[2018-08-22 07:38] embano1 commented on #501
Sorry for being not clear. What I meant is to also pass the vsphere.conf as `--cloud-config` parameter to each kubelet. Looks like you don't do that currently:

Environment="KUBELET_KUBECONFIG_ARGS=--bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --kubeconfig=/etc/kubernetes/kubelet.conf --cloud-provider=vsphere"

However, looking at the logs it seems like communication between the AP

[2018-08-22 08:30] GajaHebbar commented on #501
Ok, that was not done. Will try that.

[2018-08-22 10:43] GajaHebbar commented on #501
- --cloud-provider=vsphere
    - --cloud-config=/etc/kubernetes/vsphere.conf
added above in /etc/kubernetes/manifests/kube-apiserver.yaml
/etc/kubernetes/manifestskube-controller-manager.yaml
/etc/systemd/system/kubelet.service.d/10-kubeadm.conf

of master node

and in worker node

    - --cloud-provider=vsphere
    - --cloud-config=/etc/kubernetes/vsphere.conf
in /etc/systemd/system/kubelet.servi

[2018-08-22 16:59] divyenpatel commented on #501
@GajaHebbar Looks like API server is not getting started correctly after you are adding flags

[code]

Please checkout manifest file for API server, and make sure `/etc/kubernetes/` is mounted into the API server pod.

For kubernetes cluster deployed using kubeadm, generally `/etc/kubernetes` is not accessible to system pods.

you may need to move vsphere.conf file in `/etc/kubernetes/pki/` or oth

[2018-08-22 19:31] bradbeam opened #502 "PV attachment causes VM to hang"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:

When a pod is rescheduled and volumes are moved from one VM to another, we're seeing approx 25s of unresponsiveness per volume attachment.

**What you expected to happen**:

Volume attachment/detachment happens seamlessly without interrupting / pausing the node.

**How to reproduce it (as minimally and precisely as possi

[2018-08-23 00:04] divyenpatel commented on #500
@nikopen @dgabrysch  Here is my observation.

Created Storage Class and Pod and PVC using following YAMLs

- https://gist.github.com/mattkaar/11afc4b05bf24432ae878b3d98ec03ce#file-mysql-deployment-vsphere-yaml
- https://gist.github.com/mattkaar/11afc4b05bf24432ae878b3d98ec03ce#file-vsphere-storage-class-yaml

Tasks observed on vcenter.

![image](https://user-images.githubusercontent.com/22985595/4

[2018-08-23 01:50] mwelch1 commented on #502
Ran into the same issue.  When tracking the request through the first step done is to attach the vmdk on the target VM before detaching on the source VM.  Because of this the target VM will pause for ~30 seconds while it tries to attach the VMDK causing the VM to freeze during that time.  I _think_ VMware should check if the lock exists before pausing the VM to attach the VMDK because this probabl

[2018-08-23 09:10] nikopen commented on #500
Thank you for the detailed repro-attempt @divyenpatel !

Would you say that the delay we encounter is because of the initial VM being generally unresponsive and unable to release the VMDK because of that? And that the cloud controller code already handles volume movements like other controllers?

@dgabrysch can you also attempt to repro the issue?

[2018-08-23 09:45] nikopen commented on #500
@divyenpatel @dgabrysch What I tried:

any normal pod with a volume attached:
1. cordon the node which the pod lives in
2. do a `sudo docker kill` of the container itself within the node
3. at the same time, do a `kubectl delete po/<pod> --force --grace-period=0

This should mirror a hard eviction event, by force killing the container and rescheduling it to another node.

The events from kube-cont

[2018-08-23 11:32] nikopen commented on #500
However, the bug is the following:

1. cordon the node which the pod is in
2. `kubectl delete po/[pod] --force --grace-period=0`
3. the pod is immediately rescheduled to a new node. Grab the new node from a `kubectl describe [pod]` and attempt to Ping it or SSH into it.
4. you can see that pings/ssh fail to reach the new node. `kubectl get node` shows it as 'NotReady'.

That node will 'unfreeze' o

[2018-08-23 15:04] bradbeam commented on #500
Is #502 related/dupe?

[2018-08-23 15:47] bradbeam commented on #502
To follow up, we tried upgrading to 1.10.5 and saw no change. We started looking through the code and we're suspecting https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L155 // https://github.com/kubernetes/kubernetes/pull/51066 is at the root of our problem. I reverted that patch and volume attachment happened much faster and the node

[2018-08-23 15:54] nikopen commented on #500
seems like it :)

[2018-08-23 17:37] dgabrysch commented on #502
@bradbeam please keep us updated :)

[2018-08-24 13:33] neeraj23 commented on #501
Hi @divyenpatel ,
I am working with @GajaHebbar on this, we tried the configuration as mentioned here: https://gist.github.com/divyenpatel/f5f23addca31b0a7da1647831539969f , but after creating the pod we are encountering this error "Invalid configuration for device '0'."

The logs are as follows:

Aug 24 18:55:29 barnda135 kubelet: I0824 18:55:29.670835    5815 reconciler.go:207] operationExecutor

[2018-08-27 21:05] bradbeam commented on #502
Do the settings mentioned in  https://github.com/vmware/vsphere-storage-for-docker/issues/1532#issue-239968573 apply in this use case?

Our default storage class is set to thin provisioned, and I'm not seeing any code paths in the vsphere cloud provider code to modify the vmdk to enable multi-writer.

I think fixing up/removing the multi-attach code is still the appropriate thing to do at the curr

[2018-08-29 17:28] divyenpatel commented on #501
@neeraj23 @GajaHebbar Do you see PVC bound to PV? Are you using PVC in the Pod Spec?
Can provide kubectl describe output for PV, PVC and Pod. We need to see the events section from `kubectl describe` output for failures.

[2018-08-29 21:13] james-powis opened #503 "K8S Vsphere Provider Automation Scripts lazy handling of indent from GOVC parsing"
/kind bug

**What happened**: Automation script fails due to path spaces being removed

**What you expected to happen**: It should work...

**How to reproduce it (as minimally and precisely as possible)**:
The vpc_daemon set produces the following logs:

Manually stepping through the bash pipes produces the following.
[code]

Obviously the indent from govc needs to be removed, but the spaces in th

[2018-08-29 21:19] james-powis commented on #503
The immediate work around is to manually move the nodes to the kubernetes folder created prior to the failing step. But given that "Discovered virtual machines" folder is the default for VSphere/VCenter this is pretty annoying.

[2018-08-30 10:58] nikopen commented on #500
Fixed with https://github.com/kubernetes/kubernetes/pull/67825 , this can be closed

[2018-08-30 13:01] #500 closed

[2018-08-30 20:52] #491 closed

[2018-08-31 12:40] neeraj23 commented on #501
Hi @divyenpatel , The VMs already have disk.enableUUID=1 set.
I have created the pv, pvc and pods using these three files
[vpshere-volume-pvcpod.yaml.txt](https://github.com/vmware/kubernetes/files/2340019/vpshere-volume-pvcpod.yaml.txt)
[vsphere-volume-pv.yaml.txt](https://github.com/vmware/kubernetes/files/2340020/vsphere-volume-pv.yaml.txt)
[vsphere-volume-pvc.yaml.txt](https://github.com/vmwar

[2018-09-04 02:11] divyenpatel commented on #479
Addressed Requested Changes with this PR - https://github.com/vmware/vsphere-storage-for-kubernetes/pull/39

[2018-09-04 02:11] #479 closed

[2018-09-04 02:29] divyenpatel commented on #502
Fix for this issue is merged to the master branch - https://github.com/kubernetes/kubernetes/pull/67825 Cherry picking for this change is in progress.

[2018-09-04 02:29] #502 closed

[2018-09-04 09:19] neeraj23 commented on #501
I tried to create a pod using vsphere volume in another setup using this yaml file

[test-pod.yaml.txt](https://github.com/vmware/kubernetes/files/2347995/test-pod.yaml.txt)

But I get the error saying "Invalid configuration for device '0.'"
The output of kubectl describe pod is as follows.

[describe pod.txt](https://github.com/vmware/kubernetes/files/2348000/describe.pod.txt)

[2018-09-04 13:26] bradbeam commented on #502
@divyenpatel can you provide any clarification on my last comment?

[2018-09-04 14:09] divyenpatel commented on #501
I see you have following volumePath
[code]
In the above path `Bangalore`, and `datastore` are datastore folders? If not, you have incorrect volumePath.

It should be as shown below.

If datastore `sharedVmfs-0` is under datastore folder `DatastoreFolder`.
Here `kubevols` is the directory in the datastore in which vmdk is present.
[code]

If datastore `sharedVmfs-0` is under root `/` folder.
[code]

[2018-09-04 21:54] divyenpatel commented on #502
@bradbeam Yes we can apply multi writer setting in this case.
Currently vSphere Cloud Provider does only support `ReadWriteOnce` access mode.

When we support vsphere volume with `ReadWriteMany` and `ReadOnlyMany` access modes, we can consider using this approach.

I see you are using vSphere 6.5.  Freezing issue you are observing may already be fixed in newer releases. I see lots of Hot Disk rela

[2018-09-06 15:07] dkirrane opened #504 "Cannot complete the operation because the file or folder [Datastore1] kubevols/kubernetes-dynamic-pvc-xxxxx.vmdk already exists."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
vSphere Web Client Recent Tasks filling up with these errors

| Task Name                   	| Status                                                                                                                                                          	|
|-----------------------------	|----------------------------------

[2018-09-06 23:46] divyenpatel commented on #504
@dkirrane Can you share YAMLs you are using to create Storage Class, PVC and PV?
Are you using `storagepolicyName` in the `StorageClass` to provision PV?

[2018-09-07 16:06] GajaHebbar commented on #501
@divyenpatel  Looked in to the system and there were issues with datastore which was not accessible from the VM which was running kubernetes cluster, after re-configuring that and with new vsphere.conf file provided https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/existing.html. This issue is fixed

[2018-09-07 16:06] #501 closed

[2018-09-12 08:51] dlandberg78 opened #505 "Failed to provision volume with StorageClass "fast""
output from command: kubectl describe pvc
[code]

My vsphere.conf file:

[code]

I have testet the permission using powershell and I can create/delete folder in the specify datastore

Log output:

[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
`client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", Git

[2018-09-12 15:04] amishra1982 commented on #80
Was there any update on this? We are getting requirements to have support for vMotion for storage

[2018-09-16 18:17] #494 closed

[2018-09-18 11:44] GajaHebbar opened #506 "ReclaimPolicy to use data even after deleting pvc and storage class"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Created a storage class and pvc using bellow code and used the pvc in the pod. stored some data as text file and stored some information in that text file. but if i delete the pvc/sc then the storage+ data is lost, basically with reclaim policy as retain, I could see the volume present in datastore but same volume cannot be used to the pod when pod

[2018-09-18 11:51] GajaHebbar opened #507 "vSphere Cloud Provider currently support RWO access does that mean, recreating a pod on new vm cannot access previously used volume?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**I have a cluster with a master and 3 worker node, where I have created a pod(worker-1) which is say database image, and there is a pvc/sc attached to it. if for some reason the pod get killed and recreated on different vm(worker-2), can the pod which was created on worker-1 which accessed vloume and stored data be accessed by same pod on worker-2 wh

[2018-09-18 12:04] GajaHebbar opened #508 "govc command mentioned in document https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/kubernetes-volumes.html is not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**govc command mentioned in https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/kubernetes-volumes.html is throwing error**:

https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/kubernetes-volumes.html has two  procedure to create vmdk
where in first one works (vmkfstools -c 2G /vmfs/volumes/datastore1/volumes/myDis

[2018-09-18 17:34] divyenpatel commented on #506
@GajaHebbar

If RECLAIMPOLICY is set to retain, deleting PersistentVolumeClaim does not delete associated PersistentVolume object. PV object is just released from the PVC and manually deleting these Kubernetes PV objects does not delete associated VMDKs.

You need to create a PVC to Bind to Released PV to re-use.

Here is the sample YAML file for statically binding PVC to specific PV, instead of r

[2018-09-18 17:39] divyenpatel commented on #507
@GajaHebbar

VCP supports `RWO` mode means, Volume is accessible to pods co-located on same worker Node VM. Volume cannot be attached to multiple Node VMs at the same time.

When POD is re-created on the new Node. Disk is detached from the previous node VM and gets attached to the new Node VM.

[2018-09-18 17:45] divyenpatel commented on #508
@GajaHebbar

You can resolve above issue with specifying data-center.

export GOVC_DATACENTER=`dc-name`

[2018-09-18 18:32] divyenpatel commented on #505
@dlandberg78 Please add required roles and privileges to the user.
Refer: https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/vcp-roles.html

[2018-09-19 08:11] GajaHebbar commented on #508
@divyenpatel  👍 Thank you

I could create
govc datastore.disk.create -ds barndesxi11_datastor02_VM -size 2G volume/myDisk.vmdk
[19-09-18 11:48:29] Creating [barndesxi11_datastor02_VM] volume/myDisk.vmdk...OK

I am facing

 Warning  FailedAttachVolume     1s (x3 over 11s)  attachdetach-controller                AttachVolume.Attach failed for volume "pv0001" : Failed to add disk 'scsi0:1'.

when I u

[2018-09-19 08:15] GajaHebbar commented on #507
@divyenpatel  Thank you for the clarification

[2018-09-19 11:30] GajaHebbar commented on #507
@divyenpatel One quick question on vsphere.conf network
![network](https://user-images.githubusercontent.com/37359075/45750492-e3216680-bc2c-11e8-88ca-d77022b5a2a9.JPG)
my network is as shown as above, and I want to use network 10-133-(84,85,86,87)-X

so in vsphere.conf network should be mentioned as bellow? Is that correct?

[Network]
public-network = "Pune_Shared_Cluster1_Public_Network/10-133-(

[2018-09-19 11:39] GajaHebbar commented on #506
@divyenpatel So what I did was created sc,pvc,and pod from above example but have added label and modeifed pvc as

pvc
----
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pvcsc001
  labels:
    app: testvolume
  annotations:
    volume.beta.kubernetes.io/storage-class: fast
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

the volume gets attache

[2018-09-19 12:55] knoppiks opened #509 "Softlock when moving Persistent Volume between Nodes"
**What happened**: We setup a Kubernetes cluster on vmware-hosted container-linux nodes and enabled the VSphere Cloud Provider for persistent volume provisioning. After some time we noticed, that pods took some time to be moved from one worker node to another. After looking into vsphere the cause was obvious, as the vcp tried to attach the still attached volume to the new node. After some tries (1

[2018-09-19 13:06] divyenpatel commented on #507
@GajaHebbar We do not need to specify network folder with the network name.

Following should be good.
[code]

See how it is used.
https://github.com/kubernetes/kubernetes/blob/e3dbad3211831b770f98ea4d5e24235dc0e038e3/pkg/cloudprovider/providers/vsphere/vsphere.go#L647-L665

Can you verify `Addresses` set on the Node?

[code]

[2018-09-19 13:27] divyenpatel commented on #506
You can not use PVC with Pod until PVC is Bound to some PV. I see in your case PVC is in the Pending state.

Since you have also deleted PV resource from kubernetes, but disk is still there in the datastore, you need to first create the PV with the volume path of VMDK and then PVC to bind to that PV.

Follow instructions mentioned at https://vmware.github.io/vsphere-storage-for-kubernetes/document

[2018-09-20 08:42] GajaHebbar commented on #506
Thank you, that worked.This was the case when pvc and pv along with pod gets deleted.
But how about one of either PV or PVC is deleted?
If pod gets deleted, anyways simply recreating pod will fix the problem.

[2018-09-20 08:54] GajaHebbar commented on #507
Ok, so for any level of folder for network need not to be specified for public-network.

These are the addresses for 1 master and 2 worker node.

Addresses:
  ExternalIP:  10.133.85.191
  InternalIP:  10.133.85.191
  Hostname:    flexmaster191

Addresses:
  ExternalIP:  10.133.85.192
  InternalIP:  10.133.85.192
  Hostname:    flexworker1

Addresses:
  ExternalIP:  10.133.85.193
  InternalIP:  10.

[2018-09-20 11:37] GajaHebbar commented on #508
@divyenpatel  retied again, and worked.

IS there any tag to specify fsType when using govc?

govc datastore.disk.create -ds barndesxi11_datastor02_VM -size 2G volume/newdisk.vmdk
above line creates only ext4 type.

[2018-09-20 12:33] divyenpatel commented on #507
Yes looks correct to me. Node IP addresses (10.133.85.*) looks belonging to `10-133-(84,85,86,87)-X` network.

[2018-09-20 12:35] GajaHebbar commented on #507
Thank you

[2018-09-20 12:36] divyenpatel commented on #508
file system types can be specified in the storage class. You can not specify file system type while creating VMDK.

When this VMDK is attached to the node VM, kubelet running in worker nodes, checks file system on the device, if not present, specified file system will be created after mounting device.

[2018-09-20 12:43] GajaHebbar commented on #508
So if i don't have a default storage class and use

apiVersion: v1
kind: PersistentVolume
metadata:
name: pv0001
spec:
capacity:
storage: 2Gi
accessModes:
- ReadWriteOnce
persistentVolumeReclaimPolicy: Retain
vsphereVolume:
volumePath: "[barndesxi11_datastor02_VM] volume/myDisk.vmdk"
fsType: ext3

I should be getting ext3, am i right?

[2018-09-20 12:49] divyenpatel commented on #506
When the PVC is deleted, the PV still exists and the volume is considered “released”. But it is not yet available for another claim because the previous claimant’s data remains on the volume. An administrator can manually reclaim the volume with the following steps.

-  Delete the PV. The associated VMDK on datastore still exists after the PV is deleted.
-  Create a new PV for that VMDK.
-  Create

[2018-09-20 12:54] divyenpatel commented on #508
If file system is not specified then default is `ext4`

https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/vsphere_volume/vsphere_volume.go#L364

[2018-09-24 03:09] daur88 commented on #203
+1

[2018-09-24 12:08] GajaHebbar commented on #507
@divyenpatel  So for now we don't have a support to RWM(ReadWriteMany) is that correct. In that case is this planned for future?

[2018-09-24 14:37] divyenpatel commented on #507
@GajaHebbar Yes in current releases we do not have support for  `ReadWriteMany`. We are working on adding this support in future releases.

Please subscribe the issue: https://github.com/vmware/kubernetes/issues/306 to get an update on this feature request.

[2018-09-24 14:51] divyenpatel commented on #509
@knoppiks PR https://github.com/kubernetes/kubernetes/pull/67825 addresses this issue. Disk will not be allowed to be attached to another node VM, if it is already attached to some other powered on node VM.

I recommend to refer following conversations to know pros and cons of this fix.

https://github.com/kubernetes/kubernetes/pull/68056#issuecomment-417738568
https://github.com/kubernetes/kubern

[2018-09-25 19:01] #505 closed

[2018-09-25 19:05] #507 closed

[2018-09-28 12:22] GajaHebbar opened #510 "Provision fails with error "Cannot complete login due to an incorrect user name or password" using secrets in configuring vsphere.conf"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**when secrets are used in vsphere.conf, pvc creation fails with error  Cannot complete login due to an incorrect user name or password**:

**user should be able to create volume using secret,plain text username/password works for same cred**:

**
vsphere.conf
-------------
[Global]
insecure-flag = 1
secret-name = "vcconf"
secret-namespace = "default"

[2018-09-28 21:42] divyenpatel commented on #510
cc: @abrarshivani

[2018-10-02 02:45] kazis commented on #168
Any updates regarding timeline when this feature will be available?

[2018-10-02 14:43] benhwebster opened #511 "VCP fails to dynamically provision storage with error NoPermission"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
VCP is unable to provision dynamic storage, static works fine

**What you expected to happen**:
VCP to successfully provision storage dynamically

**How to reproduce it (as minimally and precisely as possible)**:
Set up VCP according to documentation [here](https://vmware.github.io/vsphere-storage-for-kubernetes/documenta

[2018-10-09 11:46] redbaron commented on #500
@divyenpatel ,  https://github.com/vmware/kubernetes/issues/500#issuecomment-415227460  in you showed that vmware quickly gives up reattaching disk,  whole operation is just 1 seconds, but in our (and others) case operation was taking 25 seconds before failing, during that time original VM is frozen, in some cases it is long enough for kernel [start taking CPU offline](https://github.com/vmware/ku

[2018-10-13 01:44] amedisetti opened #512 "how do i change the file system mounted via VCP volume, as by default it is creating 700, need to change it for non root user"
no
**Is this a BUG REPORT or FEATURE REQUEST?**:
Feature Request

 /kind bug

**What happened**:
default filesystem is 700 and owned by root.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
how do i change the permissions at storage level
**Environment**:
- Kubernetes version (use `kubectl version`): 1.11.2
-

[2018-10-15 06:28] GajaHebbar commented on #510
@divyenpatel  @abrarshivani any update/input on this issue?

[2018-10-25 10:53] goebi commented on #511
Any news here? We  have also the issue with dynamically provision storage not working.

[2018-10-25 12:18] benhwebster commented on #511
No sadly, I've pretty much given up on the dynamic portion, our VMware admins think the account is set up correctly according to the permissions required for dynamic provisioning without storage policy based placement, and they don't want to give the account the permissions required for that so I'm stuck.

[2018-11-06 21:55] franrebo84 commented on #495
The script works perfectly...!  Thanks so much!

[2018-11-13 15:17] dkirrane opened #513 "Kubernetes v1.12.2 - Unable to find VM by UUID. VM UUID"
**What happened**: controller-manager pod logs show the following error
[code]

**What you expected to happen**:
VCP should be enabled without error.

**How to reproduce it (as minimally and precisely as possible)**:
I enabled vspshere cloud provider using kubeadm as per documentation:
https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/

**Anything else we need to know?**:

[2018-11-13 20:30] nelsonyaccuzzi commented on #504
I have a similar problem with my kubespray deployment, and I resolve it by creating a kube-dummyDisk.vmdk in the kubevols folder. Try this

`vmkfstools -c 5G –diskformat thin vmfs/volumes/<your datastore>/kubevols/kube-dummyDisk.vmdk`

I think this have to do with some wrong permission privileges during the deployment of the cluster.

[2018-11-14 22:44] divyenpatel commented on #511
@benhwebster

Do you have `System.View` privilege on the user. This is required to call `RetrieveProperties`

This is failing at https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/vsphere/vclib/virtualmachine.go#L214

[2018-11-20 15:09] benhwebster commented on #511
Finally found the missing permission! we were missing read-only permission on one of the ESXi clusters running the hosts running the infrastructure nodes (or one of the children of the cluster, we let it propagate, you could probably just add ESXi cluster as one of entities for the read-only role in those tables.) Thank you Divyen for pointing me in the right direction!

[2018-11-20 15:09] #511 closed

[2018-11-21 12:18] hwasp opened #514 "Locks when a node is lost"
**What happened**:
We tried to power gracefully off a node of our cluster where 10 vsphere volumes were linked to test if the volumes will be properly moved to a different node. The volumes were moved to the new node that got the pods and seems to work well, but the old node still have the volumes attached and can not start because the volumes are now locked by the new node that run the pods.

**W

[2018-11-23 12:17] compendius opened #515 "60 volume limit per cluster"
Individual VMs in VMware have a limitation of 60 virtual disks per VM.

The Kubernetes scheduler is not aware of this limitation, and does not account for the amount of virtual disks already attached to a VM when pods with dynamic persistent vSphere storage class volumes are provisioned and therefore add more virtual disks.

Therefore no matter how large a Docker EE cluster you can only safely eve

[2018-12-04 10:03] compendius commented on #515
After more research it looks like Kubernetes 1.11+ has a feature called 'node-specific volume limits"

https://kubernetes.io/docs/concepts/storage/storage-limits/

To fix this issue the vSphere driver needs to support this feature. It can do this either with a re-write of the in-tree driver, or implementing CSI as the storage interface (which will support this).

[2018-12-20 13:50] fungusakafungus opened #516 ""Failed to delete vsphere volume" error in logs"
**What happened**:
Error in controller logs:
`vsphere.go:1155] Failed to delete vsphere volume with vmDiskPath: [unity_k8s_operations] kubevols/kubernetes-dynamic-pvc-<snip>.vmdk. err: Error caused by file /<snip>/kubernetes-dynamic-pvc-<snip>.vmdk`
when deleting a pod and a pvc at the same time while using a storageclass with reclaimPolicy: Delete and provisioner: kubernetes.io/vsphere-volume.

*

[2019-01-05 19:41] SandeepPissay commented on #168
@subramanian-neelakantan This is the issue tracking the extend disk feature support for vsphere volumes.

[2019-01-07 16:35] espigle commented on #168
We are also held up by a lack of this feature working currently with VCP. Is there an interim workaround in the meantime to manually extend a volume when VCP is used without having to entirely spin up a new pod and volume and copy / restore data?

[2019-01-29 14:40] dkirrane opened #518 "Make kubevols folder configurable"
**What would you like to be added**:
At the moment all PVs go into the `kubevols` folder on the Datastore.
And in this folder the vmdks are named like `kubernetes-dynamic-pvc-0bdf5725-22fb-11e9-b930-005056802165.vmdk`

I'd like to be able to:

- Configure `kubevols` folder name to something else
- Configure the prefix `kubernetes-dynamic` of the vmdk name e.g. `dev-cluster-pvc-0bdf5725-22fb-11e9-b

[2019-02-11 12:08] erSitzt commented on #512
Same Problem here.
Container starts process as non-root user and fails accessing its data directory.

 Is this a problem with settings mount options for vsphere storage or is it a config setting needed in kubernetes ?

regards
Dennis

[2019-02-12 23:46] divyenpatel commented on #515
@compendius thank you for reporting an issue.
Can you file a feature request at -  https://github.com/kubernetes/cloud-provider-vsphere

We will implement this with CSI.

CC: @SandeepPissay

[2019-02-12 23:51] divyenpatel commented on #514
@hwasp

On 1.11 branch, this issue is fixed with https://github.com/kubernetes/kubernetes/pull/70291
On newer kubernetes releases, this known issue. This is common behavior across other providers - Please refer - https://github.com/kubernetes/kubernetes/pull/70291#issuecomment-461268669

CC: @SandeepPissay

[2019-02-12 23:51] #514 closed

[2019-02-13 00:00] divyenpatel commented on #513
@dkirrane

Can you follow instructions documented by @mylesagray - https://blah.cloud/kubernetes/setting-up-k8s-and-the-vsphere-cloud-provider-using-kubeadm/

kubelet should be running with `cloud-provider=vsphere` flag, before nodes can join the master node.
Please use nodeRegistration config with `kubeadm join`

[code]

CC: @SandeepPissay

[2019-02-13 00:00] #513 closed

[2019-02-13 00:08] divyenpatel commented on #512
@amedisetti @erSitzt

Have you tried `securityContext`? https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

[code]

[2019-02-13 16:38] Reamer opened #519 "Flapping HostIP when node has multiple IP addresses"
**What happened**:
Using Openshift with vsphere cloud provider, works as expected till you [add multiple egressIPs](https://docs.okd.io/latest/admin_guide/managing_networking.html#enabling-static-ips-for-external-project-traffic). After adding multiple `EGRESS IPS` the cloud provider changes the `HOST IP` randomly to a IP which is available on node. With this behavior we get routing problems insid